In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
import statsmodels.api as sm
import seaborn as sns

### conexiones
import sys
sys.path.insert(0, "/home/jupyter")

%time
import ciphered_connections as connections
import getpass
from datetime import datetime

# path = getpass.getpass("PATH: ")
# key = getpass.getpass("KEY:  ")
# iv = getpass.getpass("IV:   ")

path = "/home/jupyter/ciphered_connections/000543781.dta"
key = "50bb801fa81378a538654b2b7076b223"
iv = "9029080389AF47F5"


# path: /home/jupyter/ciphered_connections/000543781.dta  
# key: 50bb801fa81378a538654b2b7076b223
# iv: 9029080389AF47F5

%time

conexion_bq = connections.BigQueryConnection(
    path_token = path, key = key, 
    iv = iv)
datetime_str = datetime.now().strftime("%Y%m%d%H%M%S")
table = "DATAMART.gcs_tabla_tiger_{0}".format(datetime_str)
bucket_object = "gcs_file_tiger_{0}_*.csv".format(datetime_str)
bucket_name = 'nbamasmovil'

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 9.06 µs
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 6.2 µs

In [2]:
# nota  se pide mirar un poco el segmento de competitor... incrementar en basse a llamadas competencia in out así como minutos in oout .....
# tirar un arbol
# depurar codigo
# trigers
# univariante

#### 1. Definicion tablas BigQuery
#### ==================================================

In [3]:
# #DECLARE MONTH_ID_ST STRING DEFAULT '202007'; 
# DECLARE eop_month STRING DEFAULT '202006'; 

# create table `bi-data-science-pilots.DESARROLLO.Segemtacion_1P_END` as 

# with

# # # pasos 1 
# # # ====================================================
# jiras_cc_acum as (
#         select 
#             customer_id , eop_month,
#             tiempo_resolucion_incidencia , 
#             tiempo_resolucion_reclamacion ,
#             Incidencias_High_Priority,
#             Jiras_Reclamacion_Movil,
#             Mobile_Red_Incidences,
#             count(customer_id) as total_jiras_cc            
#         FROM  `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.RECLAMACIONES_BLUE_JIRA`  # `mm-datamart-kd.TICKETING.jira_cc_base_ticketing` 
#         WHERE 
#             eop_month = eop_month and BRAND_DS='YOIGO'
#         group by   
#             customer_id , eop_month,
#             tiempo_resolucion_incidencia , tiempo_resolucion_reclamacion ,
#             Incidencias_High_Priority,
#             Jiras_Reclamacion_Movil,
#             Mobile_Red_Incidences) ,
           
# # # pasos 2
# # # ====================================================
# TABLON_1P as (SELECT 
#             a.*,
#             b.tiempo_resolucion_incidencia,
#             b.tiempo_resolucion_reclamacion,
#             b.Incidencias_High_Priority,
#             b.total_jiras_cc,
#             b.Jiras_Reclamacion_Movil,
#             b.Mobile_Red_Incidences     
#       FROM   
#             `bi-data-science-pilots.MASDATA.brand_yoigo_monthly_board_20200630` as a left join 
#             jiras_cc_acum  AS B
#             # `bi-data-science-pilots.DESARROLLO.000000_jiras_cc_acum_202006_new` as b
#       on  a.CUSTOMER_ID=b.customer_id     
#       WHERE 
#           a.IS_CUST_BUND_MO_CURR is true and  IS_CUST_BUND_FMC_CURR is false
#       and
#         (a.GDPR_NEVER_CALL = 0 or a.GDPR_NEVER_CALL is null) and
#         a.BRAND_DS = 'YOIGO' and a.NUM_SEGM_RESI_POST_CURR > 0 and 
#         a.NUM_LINES_POST_CURR > 0),
           
# # # pasos 3 
# # # ====================================================
# TABLON_1P_SEG as (     
#         SELECT  a.*, 
#             b.Bundle_Type, b.Fecha_Predicion ,b.Modelo,b.Decil,b.Percentil,b.Propension,b.VERSION , 
#             c.Target as fuga_real 
#         from    
#             TABLON_1P  as a 
#         left join
#             `bi-data-science-pilots.SCORING_MODELOS.SCORING_MODELOS_NBA` as b 

#         on a.Customer_Id=b.Customer_Id LEFT JOIN 
#           `bi-data-science-pilots.EVALUACION_MODELOS.EVALUACION_MODELOS_NBA` AS c
#         on a.Customer_Id  = CAST(c.Customer_Id as string)
#         WHERE  
#         # A.EOP ='202006' AND 
#         a.IS_CUST_BUND_MO_CURR = True and a.IS_CUST_BUND_FMC_CURR = False and
#         (a.GDPR_NEVER_CALL = 0 or a.GDPR_NEVER_CALL is null) and
#         a.BRAND_DS = 'YOIGO' and a.NUM_SEGM_RESI_POST_CURR > 0 and 
#         a.NUM_LINES_POST_CURR > 0 and 
#         b.Mes_Datos=eop_month  and  
#         b.Brand_ds='YOIGO' and b.Bundle_Type ='1P' and 
#         b.Segmento='RESIDENCIAL' and b.Mes_Datos='202006'  and 
#         b.modelo='CHURN' and b.VERSION='2' and 
#         #  b.decil<3 and
#         c.BRAND_DS = 'YOIGO' and c.Segmento='RESIDENCIAL' and 
#         c.Bundle_Type='1P' and c.Modelo='CHURN' and 
#         c.Mes_Datos=eop_month  and c.VERSION='2' ),

# # # pasos 4 
# # # ====================================================
# TABLON_1P_SEG_Comp AS (
#         select a.*, b.ISSUE_CALL
#         FROM TABLON_1P_SEG  AS  a left join  
#         (SELECT  distinct 
#                 customer_id, count(ISSUE_CALL) as ISSUE_CALL
#         FROM `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.ISSUE_CALLS_2` # USAR ESTA TABLA DE MARIAN 
#         where EOP_MONTH='202006' and BRAND='YOIGO'
#         group by customer_id) as b 
#         on a.CUSTOMER_ID=b.customer_id ),


# # # pasos 5
# # # ====================================================
# TABLON_1P_SEG_Comp_dos AS (
#      SELECT a.*,
#      b.GB_EXCESO,
#      b.Lineas_Exceso, 
#      b.Lineas_Poco_Uso,
#      #b.Lineas_Con_Consumo_Pdte,
#      #b.Lineas_Con_Bono_Sin_Uso
#      FROM TABLON_1P_SEG_Comp as a left join   
#      `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.CONSUMO_NIVEL_CLIENTE`  as b
#      on  a.CUSTOMER_ID=b.CUSTOMER_ID
#      WHERE B.EOP_MONTH_ID='202006')     ,  
        
  

# -- TABLON_1P_SEG_Comp_dos_2  AS (

# --       SELECT a.*,
# --       b.GB_EXCESO,
# --       b.Lineas_Exceso, 
# --       b.Lineas_Poco_Uso 

# --       FROM TABLON_1P_SEG_Comp_dos   as a left join    #`bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_202006_new`
# --       `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.CONSUMO_NIVEL_CLIENTE`  as b
# --       on  a.CUSTOMER_ID=b.CUSTOMER_ID
# --       WHERE B.EOP_MONTH_ID='202006'
# -- ),

# # # paso 6  
# # # ==========================   
# TABLON_1P_SEG_Comp_TRES_202006_new AS (            
#       SELECT A.* ,B.total_telefonos,  
#       B.DISCOUNT_VALUE_eur,
#       B.FIN_DTO 
#       FROM TABLON_1P_SEG_Comp_dos 
      
#       AS A
#       LEFT JOIN (
#       SELECT CUSTOMER_ID ,
#       count(PHONE_NM) as total_telefonos,  
#       sum(DISCOUNT_VALUE) as DISCOUNT_VALUE_eur,
#       sum(FIN_DTO) as FIN_DTO
#       FROM `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.DESCUENTOS_RESIDENCIAL_2`  # usar tabla de marian 
#       group by CUSTOMER_ID) AS B
#       ON A.CUSTOMER_ID=B.CUSTOMER_ID  
# )



# select * from TABLON_1P_SEG_Comp_TRES_202006_new

In [4]:
## FASE BIG QUERY
# # pasos 1 definitivo
# # ====================================================
# create table  `bi-data-science-pilots.DESARROLLO.000000_jiras_cc_acum_202006`  as SELECT distinct 
# customer_id,eop_month,
# sum(tiempo_hr_resolucion_reclamacion) as tiempo_hr_resolucion_reclamacion,
# sum(tiempo_hr_resolucion_incidencia) as  tiempo_hr_resolucion_incidencia , 
# sum(Incidencias_High_Priority)  as Incidencias_High_Priority ,
# sum(total_jiras_cc)  as total_jiras_cc,
# sum(Jiras_Reclamacion_Movil)  as Jiras_Reclamacion_Movil,
# sum(Mobile_Red_Incidences)  as Mobile_Red_Incidences

# FROM (select 
#           customer_id , eop_month,
#           tiempo_hr_resolucion_reclamacion,
#           tiempo_hr_resolucion_incidencia,
#           Incidencias_High_Priority,
#           Jiras_Reclamacion_Movil,
#           Mobile_Red_Incidences,
#           sum(contador) as total_jiras_cc
#           from
#           (
#           SELECT customer_id , count(*) as contador ,jira_brand,
#             substr(cast(created_ts as string),1,4)||substr(cast(created_ts as string),6,2)  as eop_month,
#             case when ticket_type like '%Reclamación%' then TIMESTAMP_DIFF(resolution_ts, created_ts, hour) else 0 end as tiempo_hr_resolucion_reclamacion, 
#                     # Tambien visto como tiempo de resolucion reclamacion 
#             case when ticket_type like '%Reclamación%' then TIMESTAMP_DIFF(resolution_ts, created_ts, hour) else 0 end as tiempo_hr_resolucion_incidencia  ,
#             case when ticket_type like '%Incidencia%' and priority in ('Alta','Media') then 1 else 0 end as Incidencias_High_Priority,
#              sum(case when (issuetype like '%No he podido usar mi móvil%' or issuetype like '%Se registra en red pero no tiene servicio%' 
#   or issuetype like '%Problemas Durante el proceso de Portabilidad%' 
#   or issuetype like '%Roto%' 
#   or issuetype like '%No recibe llamadas de fijos%' 
#   or issuetype like '%Instalación / Provisión%' 
#   or issuetype like '%No funciona internet%' 
#   or issuetype like '%Problemas de Terminal%' 
# )     then 1 else 0 end) as Jiras_Reclamacion_Movil,
              
#        sum(case when project_pkey in ('CC', 'MM') and issuetype = 'Error en la línea' and line_error_type in ('Compartir-no compartir internet', 'Error activación nueva numeración', 'Error al cambiar el ICC', 
# 'Error en MySim durante la portabilidad', 'Error en MySim tras la portabilidad', 
#  'Es el primer dia en Yoigo y no tiene servicio', 'Estado Instalado sin expedición', 
#  'No puede navegar porque salta Landig Page', 'No se puede poner / quitar Bloqueo', 
#  'No se puede poner/quitar bloqueo', 'Problema activación de ICC', 'Problema con Bonos',
#  'Problemas con bonos y ampliaciones', 'Problemas con la Recarga', 'Problemas con línea PREPAGO', 
#  'Reactivar línea', 'Recuperar baja manual errónea', 'Recuperar baja móvil manual errónea', 'Recuperar línea por error del sistema', 
#  'Relanzar portabilidad', 'Problema cambio SIM') then 1 else 0 end) as Mobile_Red_Incidences
#                FROM `mm-datamart-kd.TICKETING.jira_cc_base_ticketing` 

#                WHERE 
#                DATE(created_ts) >= "2020-06-01"    and  DATE(created_ts) <= "2020-06-30"
#           and jira_brand='YOIGO'
#           group by customer_id ,jira_brand,eop_month , tiempo_hr_resolucion_reclamacion ,tiempo_hr_resolucion_incidencia , Incidencias_High_Priority)
#           group by

#           customer_id ,eop_month,contador,
#           tiempo_hr_resolucion_reclamacion ,
#           tiempo_hr_resolucion_incidencia ,
#           Incidencias_High_Priority, Jiras_Reclamacion_Movil, Mobile_Red_Incidences) as a  

#  group by customer_id,eop_month

    
    
    
# # paso 2 definitivo
# # ====================================================
# CREATE TABLE  `bi-data-science-pilots.DESARROLLO.000000_TABLON_1P_202006` AS  
# SELECT 
#      a.*,
#       b.tiempo_hr_resolucion_reclamacion,
#       b.tiempo_hr_resolucion_incidencia,
#       b.Incidencias_High_Priority,
#       b.total_jiras_cc,
#       b.Jiras_Reclamacion_Movil,
#       b.Mobile_Red_Incidences
       
#      FROM   
#      `bi-data-science-pilots.MASDATA.brand_yoigo_monthly_board_20200630` as a left join 
#      `bi-data-science-pilots.DESARROLLO.000000_jiras_cc_acum_202006` as b
#     on 
    
#      a.CUSTOMER_ID=b.customer_id
     
    
#      WHERE 
#            a.IS_CUST_BUND_MO_CURR is true and  IS_CUST_BUND_FMC_CURR is false
# --> fechas 
#      and
#            (a.GDPR_NEVER_CALL = 0 or a.GDPR_NEVER_CALL is null) and
#            a.BRAND_DS = 'YOIGO' and a.NUM_SEGM_RESI_POST_CURR > 0 and 
#             a.NUM_LINES_POST_CURR > 0
 




# # paso 3 definitivo
# # ========================== TABLON + DECIL + PROBABILIDAD 000000_TABLON_1P_SEG_D1_D2_202006

# create table   `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_202006` as     
#        SELECT  a.*, 
#          b.Bundle_Type, b.Fecha_Predicion ,b.Modelo,b.Decil,b.Percentil,b.Propension,b.VERSION , 
#          c.Target as fuga_real 

#   from    
#           `bi-data-science-pilots.DESARROLLO.000000_TABLON_1P_202006`  as a   left join
  
#          `bi-data-science-pilots.SCORING_MODELOS.SCORING_MODELOS_NBA` as b 
#                on a.Customer_Id=b.Customer_Id 
#           LEFT JOIN 
#           `bi-data-science-pilots.EVALUACION_MODELOS.EVALUACION_MODELOS_NBA` AS c
#                on a.Customer_Id  = CAST(c.Customer_Id as string)

#   WHERE  
#          # A.EOP ='202006' AND 
#          a.IS_CUST_BUND_MO_CURR = True and a.IS_CUST_BUND_FMC_CURR = False and
#          (a.GDPR_NEVER_CALL = 0 or a.GDPR_NEVER_CALL is null) and
#          a.BRAND_DS = 'YOIGO' and a.NUM_SEGM_RESI_POST_CURR > 0 and 
#          a.NUM_LINES_POST_CURR > 0 and 
#          b.Mes_Datos='202006'  and  
#          b.Brand_ds='YOIGO' and b.Bundle_Type ='1P' and 
#        b.Segmento='RESIDENCIAL' and b.Mes_Datos='202006'  and 
#          b.modelo='CHURN' and b.VERSION='2' and 
#         #  b.decil<3 and
#          c.BRAND_DS = 'YOIGO' and c.Segmento='RESIDENCIAL' and 
#          c.Bundle_Type='1P' and c.Modelo='CHURN' and 
#          c.Mes_Datos='202006' and c.VERSION='2'
         
        
# # paso 4 definitivo añadimos mosaico para variable issue 
# # ========================== fase 1        
# CREATE TABLE `bi-data-science-pilots.DESARROLLO.ISSUE_CALLS_1` AS 
# SELECT C.FECHA, c.MSISDN, C.CHANNEL, C.BRAND, C.ISSUE_CALL, C.GROUP_TEXT, FECHA_OR, MATCH_M ,EOP_MONTH
# FROM (
#     SELECT DISTINCT A.*,
#     --normaliza_texto(case when upper(B.issue_call) in ('FALSE','NO','0') THEN 'NO' WHEN upper(B.issue_call) in ('TRUE','SI', '1') THEN 'SI' ELSE 'REVISAR' END) AS ISSUE_CALL,
#     case when B.issue_call is true then 'SI' WHEN B.issue_call is false then 'NO' END AS ISSUE_CALL
#     FROM (
#         SELECT distinct
#         MSISDN,
#         SUBSTR(REPLACE(CAST(EXTRACT(DATE FROM CUR_TIMESTAMP) AS STRING),'-',''),1,6) AS EOP_MONTH,
#         _TABLE_SUFFIX as PARTICION,
#         EXTRACT(DATE FROM CUR_TIMESTAMP) AS FECHA_OR,
#         REPLACE(CAST(EXTRACT(DATE FROM CUR_TIMESTAMP) AS STRING),'-','') AS FECHA,
#         replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(CHANNEL),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ") as CHANNEL,
#         replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(brand),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ") as BRAND,
#         replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(MATCH_M),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ") as MATCH_M,
#         replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(GROUP_TEXT),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ") as GROUP_TEXT
#         from `mm-datamart-kd.ATC.mosaic_2*`
#         WHERE CHANNEL IN ("Llamada recepción","Chat SMS")
#         AND GROUP_TEXT IN('ATC', 'ATC CONVERGENTE', 'ATC MÓVIL', 'Averías Residencial N1', 'Averías N2') 
#         and concat('2',_TABLE_SUFFIX)>='20200101'
#         ) A
#     LEFT JOIN `mm-datamart-kd.ATC.master_mosaic_category_issue_call` B
#     on replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(A.MATCH_M),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ") =replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(upper(B.category),"…",""),"-",""),"–",""),',',""),"Á","A"),"Ó","O"),"É","E"),"Í","I"),"Ú","U"),"/",""),".",""),"  "," "),"  "," ")
#     ) C
# where C.ISSUE_CALL='SI';



# # ========================== fase 2
# # DROP TABLE `bi-data-science-pilots.DESARROLLO.ISSUE_CALLS_2`;

# CREATE TABLE `bi-data-science-pilots.DESARROLLO.ISSUE_CALLS_2` AS
# select a.* , serv.customer_id, segment_ds
# from `bi-data-science-pilots.DESARROLLO.ISSUE_CALLS_1` a
# left join `mm-datamart-kd.SERVICES.service_base_net` serv 
# on cast (a.MSISDN as string) = cast (serv.phone_nm as string) 
# and(deactivation_date IS NULL OR deactivation_date >= VAR_FIRST_DAY_DEACTIVATION_DT) AND activation_date <= VAR_LAST_DAY_ACTIVATION_DT;


# CREATE TABLE `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_202006` AS 
# select a.*, b.ISSUE_CALL
# FROM `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_202006` AS  a left join (SELECT  distinct 
# customer_id, count(ISSUE_CALL) as ISSUE_CALL
# FROM `bi-data-science-pilots.DESARROLLO.ISSUE_CALLS_2` 
# where EOP_MONTH='202006' and BRAND='YOIGO'
# group by customer_id) as b 
# on a.CUSTOMER_ID=b.customer_id


# # paso 5  Añadimos desposicionamiento de tarifa
# # ========================== 
# # fase 1
# CREATE TABLE `bi-data-science-pilots.DESARROLLO.EXCESO_CONSUMO` AS
# SELECT 
#     CUSTOMER_ID,
#     Lineas_Exceso,
#     Lineas_Poco_Uso,
#     Lineas_Con_Consumo_Pdte,
#     Lineas_Con_Bono_Sin_Uso,
#     GB_TOTAL
# FROM 
#       `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.CONSUMO_NIVEL_CLIENTE`
# WHERE EOP_MONTH_ID=MONTH_ID_ST




# # ========================== 
# CREATE TABLE `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_dos_202006` AS
# SELECT a.*,
# b.GB_EXCESO,
# b.Lineas_Exceso, 
# b.Lineas_Poco_Uso,
# #b.Lineas_Con_Consumo_Pdte,
# #b.Lineas_Con_Bono_Sin_Uso

# FROM `bi-data-science-pilots.DESARROLLO.`  as a left join    FALTA LA TABLA DE ?
# `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.CONSUMO_NIVEL_CLIENTE_20200630`  as b
# on  a.CUSTOMER_ID=b.CUSTOMER_ID



# # paso 6 
# # ========================TABLON_1P_SEG_Comp_202006== 
# # fase 1
#  CREATE TABLE `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.DESCUENTOS_RESIDENCIAL_2` AS
#         SELECT
#                 A.*,
#                 B.DISCOUNT_VALUE,
#                 B.UNIT,
#                 B.INIT_DATE,
#                 B.END_DATE,
#                 CASE WHEN CAST(END_DATE AS DATE)>=CAST(VAR_FIRST_DATE_PRED_MONTH_ST AS DATE) AND END_DATE<=CAST(VAR_LAST_DATE_PRED_MONTH_ST AS DATE) THEN 1 ELSE 0 END AS FIN_DTO 
#             FROM(
#                    SELECT
#                         DISTINCT 
#                         A.CUSTOMER_ID,
#                         A.SERVICE_ID,
#                         A.PHONE_NM
#                    FROM 
#                         `mm-datamart-kd.SERVICES.service_base_net` A
#                    WHERE BRAND_DS='YOIGO' AND (DEACTIVATION_DATE IS NULL OR CAST(DEACTIVATION_DATE AS DATE) > VAR_LAST_DAY_DATE_CURR_MONTH_DT)
#                    AND SEGMENT_DS='RESIDENCIAL'
#                   ) A
#            INNER JOIN
#                 (
#                    SELECT
#                         A.SERVICE_ID,
#                         A.PHONE_NM,
#                         A.DISCOUNT_VALUE,
#                         A.UNIT,
#                         A.INIT_DATE,
#                         A.END_DATE,
#                         DATE_DIFF(END_DATE,INIT_DATE,DAY) AS DURACION
#                    FROM
#                         `mm-datamart-kd.SERVICES.discount_base_qvantel` a
#                     where
#                      REGEXP_CONTAINS(bill_code,'HM$') <> TRUE
#                     AND REGEXP_CONTAINS(bill_code,'H$') <> TRUE
#                     AND REGEXP_CONTAINS (bill_code,'BONO') <> TRUE
#                     AND bill_code NOT IN ('DISCINCIDENCIASRED')   
#                  ) B
#              ON A.PHONE_NM=B.PHONE_NM AND A.SERVICE_ID=B.SERVICE_ID
#              WHERE DURACION>31 AND DURACION<800;



# # ==========================            
# CREATE TABLE `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202006` AS            
# SELECT A.* ,B.total_telefonos,  
# B.DISCOUNT_VALUE_eur,
# B.FIN_DTO

# FROM `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_dos_202006`

# AS A
# LEFT JOIN (
# SELECT CUSTOMER_ID ,
# count(PHONE_NM) as total_telefonos,  
# sum(DISCOUNT_VALUE) as DISCOUNT_VALUE_eur,
# sum(FIN_DTO) as FIN_DTO
# FROM `bi-data-science-pilots.SEGMENTACION_CHURN_YOIGO.DESCUENTOS_RESIDENCIAL_2` 
# group by CUSTOMER_ID) AS B
# ON A.CUSTOMER_ID=B.CUSTOMER_ID  

 

# # ==========================            incrementeos   No lo incluyo porque no se usa en segmentacion

# create table  `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202003_202006` as 
# SELECT distinct                  a.*, b.NUM_SELL_TYPE_UPSE_TOTA as NUM_SELL_TYPE_UPSE_TOTA_ant_3mes
#     FROM  `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202006` as a 
#     left join `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202003` as b
# ON a.CUSTOMER_ID =b.CUSTOMER_ID 
# WHERE A.Decil<3

In [5]:
#  NECESARIO PARA HEAVY CALLERS 
# CREATE TABLE `bi-data-science-pilots.DESARROLLO.LLAMADAS_ATC_MENSUAL_MC_AYD_2020_06` AS
# SELECT
# BRAND_DS,
# CUSTOMER_ID,
# EOP,
# SUM(IS_TOTA_WAIT_MORE_5MIN) AS NUM_TOTA_WAIT_MORE_5MIN,
# COUNTIF(redial_48h = true) AS NUM_RECA,
# sum(rellamada) as rellamada,
# SUM(waiting_time)/count(distinct UCID) AS TIEMPO_MEDIO_ESPERA
# FROM (
# SELECT
# BRAND_DS,
# CAST(CUSTOMER_ID AS STRING) AS CUSTOMER_ID,
# REPLACE(SUBSTR(CAST(DAY AS STRING),1,7),'-','') AS EOP,
# UCID,
# redial_48h,
# redial,
# ivr_absorption,
# case when redial is true and ivr_absorption is false and talk_time>0 then 1 else 0 end as rellamada,
# CASE -- Is the total of waiting times
# WHEN waiting_time > 300 THEN 1
# ELSE 0
# END AS IS_TOTA_WAIT_MORE_5MIN,
# waiting_time,
# FROM `mm-datamart-kd.ATC.call`
# WHERE brand_ds IN ('YOIGO')
# AND (BRAND_DS IS NOT NULL
# AND CUSTOMER_ID IS NOT NULL)
# AND ( (day BETWEEN '2020-06-01'
# AND '2020-06-30' ) )
# ) A
# GROUP BY BRAND_DS,
# CUSTOMER_ID,
# EOP;





# CREATE TABLE `bi-data-science-pilots.DESARROLLO.LLAMADAS_ATC_MENSUAL_MC_AYD2_2020_06` AS
# SELECT
        #  BRAND_DS,
        #  CUSTOMER_ID,
        #  EOP,
        #  SUM(IS_TOTA_WAIT_MORE_5MIN) AS NUM_TOTA_WAIT_MORE_5MIN,
        #  COUNTIF(redial_48h = true) AS NUM_RECA,
        #  sum(rellamada) as rellamada,
        #  SUM(waiting_time)/count(distinct UCID) AS TIEMPO_MEDIO_ESPERA
#  FROM (
        #  SELECT
        #  BRAND_DS,
        #  CAST(CUSTOMER_ID AS STRING) AS CUSTOMER_ID,
        #  REPLACE(SUBSTR(CAST(DAY AS STRING),1,7),'-','') AS EOP,
        #  UCID,
        #  redial_48h,
        #  redial,
        #  ivr_absorption,
        #  #case when redial is true and ivr_absorption is false and talk_time>0 then 1 else 0 end as rellamada,
        #  case when redial is true and ivr_absorption is false  then 1 else 0 end as rellamada,
        #  CASE -- Is the total of waiting times
        #  WHEN waiting_time > 300 THEN 1
        #  ELSE 0
        #  END AS IS_TOTA_WAIT_MORE_5MIN,
        #  waiting_time,
        #  FROM `mm-datamart-kd.ATC.call`
        #  WHERE brand_ds IN ('YOIGO')
        #  AND (BRAND_DS IS NOT NULL
        #  AND CUSTOMER_ID IS NOT NULL)
        #  AND ( (day BETWEEN '2020-06-01'
        #  AND '2020-06-30' ) )
        #  ) A
#  GROUP BY BRAND_DS,
#  CUSTOMER_ID,
#  EOP;
    
    
# create table `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202003_202006_2` 
# as select a.*,b.NUM_TOTA_WAIT_MORE_5MIN,b.NUM_RECA,b.rellamada,b.TIEMPO_MEDIO_ESPERA
# from  `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202003_202006` as a left join 
# `bi-data-science-pilots.DESARROLLO.LLAMADAS_ATC_MENSUAL_MC_AYD_2020_06` as b 
# on a.CUSTOMER_ID=b.CUSTOMER_ID

#### 2 Descarga de información
#### ==================================================

In [6]:
# # Descarga de tablón
# query_decil = '''
#     SELECT *                                  
#     FROM  `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202006`
                                             
#     where Decil < 3
#         '''
# TABLON_decil = conexion_bq.download_table_bq_gcs(query_decil,
#     tabla_tmp = table, bucket_name = bucket_name,
#     tmp_object = bucket_object)

# TABLON_decil

In [7]:
# df=TABLON_decil.copy()
# df

# 966431

In [32]:
# Descarga de tablón
## FROM  `bi-data-science-pilots.DESARROLLO.TABLON_1P_SEG_Comp_TRES_202003_202006_2`

#Segemtacion_1P_202006_v2_PY ES EL TABLON GENERADO EN BQ YA CON TODOS LOS CAMBIO

query_decil = '''
     SELECT *                                  
     
     FROM `bi-data-science-pilots.DESARROLLO.Segemtacion_1P_202006_v2_PY`
                                           
     where Decil < 3
         '''
TABLON_decil_03 = conexion_bq.download_table_bq_gcs(query_decil,
     tabla_tmp = table, bucket_name = bucket_name,
     tmp_object = bucket_object)

TABLON_decil_03

Query results loaded to table /projects/bi-data-science-pilots/datasets/DATAMART/tables/gcs_tabla_tiger_20201112122534
Exported DATAMART.gcs_tabla_tiger_20201112122534 to gs://nbamasmovil/gcs_file_tiger_20201112122534_*.csv
Ejecutando la query:
 drop table `bi-data-science-pilots.DATAMART.gcs_tabla_tiger_20201112122534` ...

Query ejecutada correctamente

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,1135802,2009-05-23,2020-04-16,4,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
2,2020,6,202006,YOIGO,56344,2007-02-09,2019-11-19,9,0,0,...,0,0,0,0,2,0,0,0,0,1
3,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,0,0,0,1
4,2020,6,202006,YOIGO,291529,2007-12-20,2020-04-30,5,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62758,2020,6,202006,YOIGO,6996462,2015-09-15,2020-03-02,3,0,0,...,0,1,0,1,10,1,1,1,0,0
62759,2020,6,202006,YOIGO,54861,2007-02-06,2020-03-04,4,0,0,...,1,1,0,1,8,0,1,0,1,1
62760,2020,6,202006,YOIGO,1002092,2009-04-01,2013-10-08,6,0,0,...,0,1,0,0,10,0,0,0,1,1
62761,2020,6,202006,YOIGO,3305043,2011-08-08,2020-02-04,5,0,0,...,1,1,0,1,9,0,0,0,1,1
62762,2020,6,202006,YOIGO,454115,2008-04-23,2015-12-18,6,3,2,...,1,1,0,1,10,1,1,1,1,0

In [134]:
df=TABLON_decil_03.copy()
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
1,2020,6,202006,YOIGO,5582206,2013-10-30,2019-11-18,9,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,6,202006,YOIGO,505682,2008-06-16,2019-10-17,6,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2020,6,202006,YOIGO,2301964,2010-09-09,2019-04-17,10,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62889,2020,6,202006,YOIGO,476649,2008-05-16,2017-09-01,15,1,1,...,0,0,0,0,10,1,0,1,1,1
62890,2020,6,202006,YOIGO,2213681,2010-08-12,2020-01-03,13,0,0,...,1,0,0,0,10,1,0,0,1,1
62891,2020,6,202006,YOIGO,4108455,2012-05-02,2020-06-30,19,0,1,...,0,0,0,0,4,1,0,1,1,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,0,0,1,1
62893,2020,6,202006,YOIGO,537440,2008-01-07,2020-06-16,25,2,1,...,1,0,0,1,10,0,1,1,1,1

#### 3 Generación de variables faltantes Depuración Tablón
#### ==================================================

In [19]:
# Generación de variables wrong tarriff
#==============================
#==============================

# Se define la condicion para la variable LINEAS_TARIFA_ERRONEA
#==============================
# condicion
conditions = [(df['Lineas_Con_Consumo_Pdte'] >= 2  )  | (df['Lineas_Exceso'] >= 1 ) | (df['Lineas_Con_Bono_Sin_Uso']>=1) ]
# valores
values = [1]
#aplicacion
df['LINEAS_TARIFA_ERRONEA'] = np.select(conditions, values)



#==============================
# Generacion de  PROBLEMAS_TECNICOS
# ==============================================================
# condiciones
conditions = [(df['NUM_LINE_THR_QOE_MOBI'] > 1) |
              (df['MOBILE_INCIDENCES'] > 1) |              
              (df['AVG_THR_QOE_MOBI']<=0.5) |  
              (df['AVG_DL_PEAK_THR_KBPS_MOBI']<=1381.39 ) |
              (df['AVG_KPI_PERC_CSS_MOBI']<=54.23) 
             ]

# valores
values = [1]
               
# aplicaciones
df['PROBLEMAS_TECNICOS'] = np.select(conditions, values)


# Generacion de  TICKETS_RED
# ==============================================================
# condiciones
conditions = [(df['TICKETS_NETWORK'] >= 2  )  | 
              (df['Mobile_Red_Incidences'] >=1)]

# valores
values = [1]
               
# aplicaciones
df['TICKETS_RED'] = np.select(conditions, values)
    
    
# Generacion de  low_signal
# ==============================================================
# condiciones
conditions = [(df['NUM_THR_QOE_MOBI_1'] == 1 ) | 
              (df['NUM_THR_QOE_MOBI_2'] == 1 ) | 
              (df['IS_DETERIORED_3M_AVG_KPI_QOE_MOBI']==1) |            
              (df['DELTA_MOBILE_INCIDENCES_3M_MONTH']==1) ]


# valores
values = [1]
               
# aplicaciones
df['low_signal'] = np.select(conditions, values)

In [20]:
# Creacion de variables Amigos_competencia
# ==============================================================
df['Amigos_competencia']=df['NUM_FRIENDS_BRAND_UNKN'] + df['NUM_FRIENDS_BRAND_TME']  +   df['NUM_FRIENDS_BRAND_VOD']+  df['NUM_FRIENDS_BRAND_OSP']+  df['NUM_FRIENDS_BRAND_DIG'] #+  df['NUM_FRIENDS_BRAND_YOI']+ df['NUM_FRIENDS_BRAND_GMM']
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,NUM_SELL_TYPE_UPSE_TOTA_ant_3mes,NUM_TOTA_WAIT_MORE_5MIN,NUM_RECA,rellamada,TIEMPO_MEDIO_ESPERA,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia
0,2020,6,202006,YOIGO,2104315,2010-07-14,2020-06-12,4,1,1,...,NaN,NaN,NaN,NaN,NaN,1,1,0,1,10
1,2020,6,202006,YOIGO,5874370,2014-01-21,2020-06-09,3,1,1,...,NaN,NaN,NaN,NaN,NaN,1,1,0,1,10
2,2020,6,202006,YOIGO,2240518,2010-08-23,2018-12-18,7,0,0,...,7.0,NaN,NaN,NaN,NaN,1,1,0,0,10
3,2020,6,202006,YOIGO,645728,2008-10-08,2020-06-05,7,2,3,...,2.0,0.0,0.0,2.0,29.0,1,1,0,1,10
4,2020,6,202006,YOIGO,212058,2007-10-18,2019-12-19,11,0,0,...,11.0,0.0,3.0,0.0,0.0,1,1,0,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63577,2020,6,202006,YOIGO,1604570,2010-01-04,2015-08-10,6,0,0,...,3.0,0.0,0.0,0.0,0.0,0,1,0,1,9
63578,2020,6,202006,YOIGO,5964236,2016-07-14,2020-02-20,4,1,0,...,NaN,0.0,3.0,3.0,6.0,1,1,0,1,7
63579,2020,6,202006,YOIGO,2834547,2012-11-17,2018-03-13,6,0,0,...,6.0,0.0,0.0,0.0,0.0,1,1,0,1,10
63580,2020,6,202006,YOIGO,7725832,2017-02-10,2019-12-04,4,0,0,...,2.0,NaN,NaN,NaN,NaN,1,1,0,1,10
63581,2020,6,202006,YOIGO,2448912,2010-11-11,2020-06-30,2,1,1,...,NaN,1.0,2.0,2.0,123.0,0,1,0,1,9

In [33]:
#### PARA IR A PA PAR CON BQ

In [52]:

query_decil = '''
     SELECT *                                  
     
     FROM `bi-data-science-pilots.DESARROLLO.Segemtacion_1P_202006_v2_PY`
                                           
     where Decil < 3
         '''
TABLON_decil_03 = conexion_bq.download_table_bq_gcs(query_decil,
     tabla_tmp = table, bucket_name = bucket_name,
     tmp_object = bucket_object)

TABLON_decil_03

df=TABLON_decil_03.copy()
df

Query results loaded to table /projects/bi-data-science-pilots/datasets/DATAMART/tables/gcs_tabla_tiger_20201112122534
Exported DATAMART.gcs_tabla_tiger_20201112122534 to gs://nbamasmovil/gcs_file_tiger_20201112122534_*.csv
Ejecutando la query:
 drop table `bi-data-science-pilots.DATAMART.gcs_tabla_tiger_20201112122534` ...

Query ejecutada correctamente

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
1,2020,6,202006,YOIGO,5582206,2013-10-30,2019-11-18,9,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,6,202006,YOIGO,505682,2008-06-16,2019-10-17,6,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2020,6,202006,YOIGO,2301964,2010-09-09,2019-04-17,10,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62889,2020,6,202006,YOIGO,476649,2008-05-16,2017-09-01,15,1,1,...,0,0,0,0,10,1,0,1,1,1
62890,2020,6,202006,YOIGO,2213681,2010-08-12,2020-01-03,13,0,0,...,1,0,0,0,10,1,0,0,1,1
62891,2020,6,202006,YOIGO,4108455,2012-05-02,2020-06-30,19,0,1,...,0,0,0,0,4,1,0,1,1,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,0,0,1,1
62893,2020,6,202006,YOIGO,537440,2008-01-07,2020-06-16,25,2,1,...,1,0,0,1,10,0,1,1,1,1

In [151]:
df=TABLON_decil_03.copy()
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
1,2020,6,202006,YOIGO,5582206,2013-10-30,2019-11-18,9,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,6,202006,YOIGO,505682,2008-06-16,2019-10-17,6,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2020,6,202006,YOIGO,2301964,2010-09-09,2019-04-17,10,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62889,2020,6,202006,YOIGO,476649,2008-05-16,2017-09-01,15,1,1,...,0,0,0,0,10,1,0,1,1,1
62890,2020,6,202006,YOIGO,2213681,2010-08-12,2020-01-03,13,0,0,...,1,0,0,0,10,1,0,0,1,1
62891,2020,6,202006,YOIGO,4108455,2012-05-02,2020-06-30,19,0,1,...,0,0,0,0,4,1,0,1,1,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,0,0,1,1
62893,2020,6,202006,YOIGO,537440,2008-01-07,2020-06-16,25,2,1,...,1,0,0,1,10,0,1,1,1,1

In [152]:
#df[df['CUSTOMER_ID']==2095951]

In [153]:
#df[df['CUSTOMER_ID']==2095951][['CUSTOMER_ID','NUM_LLAMADAS_PROCESS','ISSUE_CALL','BILLING_CLAIMS','IVR_NUM_RECA','SEG_ISSUE_CALLS']]

In [173]:
# query_decil = '''
   
# SELECT 

# CUSTOMER_ID, NUM_MONTH_BAD_THR_QOE_MOBI_6M ,AVG_THR_QOE_MOBI, NUM_LLAMADAS_NETWORK ,IS_DETERIORED_1M_AVG_THR_QOE_MOBI,  Mobile_Red_Incidences, SEGMENTO_CHURN_1P

# FROM `bi-data-science-pilots.DESARROLLO.Segemtacion_1P_202006_v2_BIS_pre2`  where SEGMENTO_CHURN_1P='2_TECHNICAL PROBLEMS'

#          '''
# Comp = conexion_bq.download_table_bq_gcs(query_decil,
#      tabla_tmp = table, bucket_name = bucket_name,
#      tmp_object = bucket_object)



# df_Comp=Comp.copy()
# df_Comp

Query results loaded to table /projects/bi-data-science-pilots/datasets/DATAMART/tables/gcs_tabla_tiger_20201112122534
Exported DATAMART.gcs_tabla_tiger_20201112122534 to gs://nbamasmovil/gcs_file_tiger_20201112122534_*.csv
Ejecutando la query:
 drop table `bi-data-science-pilots.DATAMART.gcs_tabla_tiger_20201112122534` ...

Query ejecutada correctamente

,CUSTOMER_ID,NUM_MONTH_BAD_THR_QOE_MOBI_6M,AVG_THR_QOE_MOBI,NUM_LLAMADAS_NETWORK,IS_DETERIORED_1M_AVG_THR_QOE_MOBI,Mobile_Red_Incidences,SEGMENTO_CHURN_1P
0,9135436,NaN,NaN,1,NaN,NaN,2_TECHNICAL PROBLEMS
1,9131536,NaN,NaN,1,NaN,NaN,2_TECHNICAL PROBLEMS
2,9136885,NaN,NaN,1,NaN,NaN,2_TECHNICAL PROBLEMS
3,7875415,0.0,NaN,1,NaN,NaN,2_TECHNICAL PROBLEMS
4,7138781,0.0,NaN,3,NaN,NaN,2_TECHNICAL PROBLEMS
...,...,...,...,...,...,...,...
1475,4441168,4.0,5.0,0,0.0,NaN,2_TECHNICAL PROBLEMS
1476,1145996,4.0,5.0,0,0.0,NaN,2_TECHNICAL PROBLEMS
1477,2436792,4.0,5.0,0,0.0,NaN,2_TECHNICAL PROBLEMS
1478,6721406,5.0,5.0,0,0.0,NaN,2_TECHNICAL PROBLEMS
1479,1741233,5.0,5.0,0,0.0,NaN,2_TECHNICAL PROBLEMS

In [142]:
#df_Comp[df_Comp['SEG_ISSUE_CALLS']>0]

In [143]:
# aux_df=df[(df['NUM_LLAMADAS_PROCESS'] > 0 ) | (df['ISSUE_CALL'] > 0 ) | (df['BILLING_CLAIMS'] > 0 ) |   (df['CLAIMS'] > 0)]
# aux_df[['CUSTOMER_ID','NUM_LLAMADAS_PROCESS','ISSUE_CALL','BILLING_CLAIMS','IVR_NUM_RECA','SEG_ISSUE_CALLS']]

In [144]:
#aux_df.shape

In [177]:
# df_3=df[(df['SEG_Calidad']>0) & (df['fuga_real']==1)]
# df_3

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
10,2020,6,202006,YOIGO,7414623,2016-07-01,2020-04-30,4,0,0,...,0,0,0,0,2,0,1,0,0,1
12,2020,6,202006,YOIGO,1323403,2009-08-25,2020-01-17,8,0,0,...,0,0,0,0,0,0,1,0,0,1
48,2020,6,202006,YOIGO,389300,2008-02-13,2019-12-19,7,0,0,...,0,0,0,0,1,0,1,0,0,1
57,2020,6,202006,YOIGO,2435119,2010-11-03,2020-03-12,5,0,0,...,0,0,0,0,0,0,1,0,0,1
70,2020,6,202006,YOIGO,8651754,2019-01-23,2020-02-07,3,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62737,2020,6,202006,YOIGO,195886,2007-09-21,2020-02-19,9,0,0,...,0,0,0,0,4,0,1,0,1,1
62753,2020,6,202006,YOIGO,5607972,2013-11-04,2020-02-29,5,0,0,...,0,0,0,0,10,0,1,0,0,1
62799,2020,6,202006,YOIGO,1526910,2009-12-04,2020-01-14,8,1,1,...,0,0,0,0,0,0,1,0,1,1
62868,2020,6,202006,YOIGO,2204266,2010-08-10,2020-03-10,8,0,0,...,0,0,0,0,0,0,1,0,0,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,1,0,1,1

In [178]:
#df_3[~df_3.CUSTOMER_ID.isin(df_Comp['CUSTOMER_ID'])]

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
10,2020,6,202006,YOIGO,7414623,2016-07-01,2020-04-30,4,0,0,...,0,0,0,0,2,0,1,0,0,1
12,2020,6,202006,YOIGO,1323403,2009-08-25,2020-01-17,8,0,0,...,0,0,0,0,0,0,1,0,0,1
48,2020,6,202006,YOIGO,389300,2008-02-13,2019-12-19,7,0,0,...,0,0,0,0,1,0,1,0,0,1
57,2020,6,202006,YOIGO,2435119,2010-11-03,2020-03-12,5,0,0,...,0,0,0,0,0,0,1,0,0,1
70,2020,6,202006,YOIGO,8651754,2019-01-23,2020-02-07,3,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62735,2020,6,202006,YOIGO,124128,2007-06-08,2020-03-06,4,0,0,...,0,0,0,0,1,0,1,0,0,1
62737,2020,6,202006,YOIGO,195886,2007-09-21,2020-02-19,9,0,0,...,0,0,0,0,4,0,1,0,1,1
62799,2020,6,202006,YOIGO,1526910,2009-12-04,2020-01-14,8,1,1,...,0,0,0,0,0,0,1,0,1,1
62868,2020,6,202006,YOIGO,2204266,2010-08-10,2020-03-10,8,0,0,...,0,0,0,0,0,0,1,0,0,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,1,0,1,1

In [184]:
#df_3[df_3['CUSTOMER_ID']==1323403][['CUSTOMER_ID','NUM_MONTH_BAD_THR_QOE_MOBI_6M' ,'AVG_THR_QOE_MOBI', 'NUM_LLAMADAS_NETWORK' ,'IS_DETERIORED_1M_AVG_THR_QOE_MOBI',  'Mobile_Red_Incidences']]

,CUSTOMER_ID,NUM_MONTH_BAD_THR_QOE_MOBI_6M,AVG_THR_QOE_MOBI,NUM_LLAMADAS_NETWORK,IS_DETERIORED_1M_AVG_THR_QOE_MOBI,Mobile_Red_Incidences
12,1323403,0.0,0.0,0,0.0,0.0

In [155]:
# Imputación de perdidos
# ======================================================
df = df.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('.'))
df.isnull().values.any()

False

In [156]:
# buscador de variables
# ======================================================
def verificar(var):
    variables_TOTAL=pd.DataFrame(list(df.columns.values)) 
    variables_TOTAL[['Variables']]=variables_TOTAL[[0]]
    validar=list(variables_TOTAL[variables_TOTAL['Variables'].str.contains(var,case=False)]['Variables']) 
    return validar

In [157]:
verificar("fu")

['fuga_real']


#### 4 IMPLEMENTACION DE REGLAS
#### ==================================================

In [158]:
df.shape

(188583, 1147)



#### Issue calls
#### ======================================================

In [159]:
# # Issue calls
# # ======================================================  


# V1
# ==============
# conditions = [              
#                   (df['IVR_NUM_RECA'] > 0 ) &  (df['NUM_DISC_CURR'] == 0) & (df['NUM_LLAMADAS_PROCESS'] > 0 ) |
#                   (df['IS_ACCO_BUND_LONGER_THAN_1_YEAR'] > 0 ) &  (df['NUM_LLAMADAS_PROCESS'] > 0 )    

#                 ]
# # valores
# values = [1]
               
# # aplicaciones
# df['SEG_ISSUE_CALLS'] = np.select(conditions, values)
# df
    
# V2    
# ==============

conditions = [
         
        
          (df['NUM_LLAMADAS_PROCESS'] > 0 ) |
          (df['ISSUE_CALL'] > 0 ) |
          (df['BILLING_CLAIMS'] > 0 ) |
            (df['BILLING_CLAIMS'] > 0 ) |
         # eliminado para generar segmento de heavy callers  (df['IVR_NUM_RECA'] > 0 ) |
       
              (df['CLAIMS'] > 0 ) #|
         # (df['MOBILE_INCIDENCES'] >0)
    # (df['Incidencias_High_Priority'] > 0 ) 
    
    
            ]
# valores
values = [1]
               
# aplicaciones
df['SEG_ISSUE_CALLS'] = np.select(conditions, values)
df[['SEG_ISSUE_CALLS']].sum()

SEG_ISSUE_CALLS    12009
dtype: int64

In [164]:
aux_df=df[(df['NUM_LLAMADAS_PROCESS'] > 0 ) | (df['ISSUE_CALL'] > 0 ) | (df['BILLING_CLAIMS'] > 0 ) |   (df['CLAIMS'] > 0)]
aux_df[['CUSTOMER_ID','NUM_LLAMADAS_PROCESS','ISSUE_CALL','BILLING_CLAIMS','IVR_NUM_RECA','SEG_ISSUE_CALLS']]

,CUSTOMER_ID,NUM_LLAMADAS_PROCESS,ISSUE_CALL,BILLING_CLAIMS,IVR_NUM_RECA,SEG_ISSUE_CALLS
17,1894095,1,0.0,0,2,1
20,8152559,18,0.0,0,46,1
68,2684746,1,0.0,0,0,1
82,7920144,1,0.0,0,1,1
132,267070,1,0.0,0,0,1
...,...,...,...,...,...,...
62885,5597233,4,0.0,0,7,1
62886,684390,7,0.0,0,17,1
62889,476649,3,0.0,0,4,1
62890,2213681,1,0.0,0,2,1
62891,4108455,3,0.0,0,16,1

In [160]:
#df.groupby(['SEG_ISSUE_CALLS', 'fuga_real']).count()
df.shape

(188583, 1147)

In [161]:
df.groupby(['SEG_ISSUE_CALLS', 'fuga_real'])['fuga_real'].count()

SEG_ISSUE_CALLS  fuga_real
0                0            168837
                 1              7737
1                0             11247
                 1               762
Name: fuga_real, dtype: int64

#### CALIDAD
#### ======================================================

In [162]:
11247+762

12009

In [165]:
df= df[df['SEG_ISSUE_CALLS'] == 0] 
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
1,2020,6,202006,YOIGO,5582206,2013-10-30,2019-11-18,9,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2020,6,202006,YOIGO,505682,2008-06-16,2019-10-17,6,0,0,...,0,0,0,0,1,0,0,0,0,1
3,2020,6,202006,YOIGO,2301964,2010-09-09,2019-04-17,10,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62884,2020,6,202006,YOIGO,2924315,2011-04-15,2020-02-29,10,0,0,...,1,0,0,0,10,0,0,0,1,1
62887,2020,6,202006,YOIGO,1713647,2010-02-07,2020-01-31,13,0,0,...,1,0,0,1,10,0,1,0,1,1
62888,2020,6,202006,YOIGO,318254,2008-01-03,2019-03-31,14,1,1,...,0,0,0,1,10,0,0,1,1,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,0,0,1,1
62893,2020,6,202006,YOIGO,537440,2008-01-07,2020-06-16,25,2,1,...,1,0,0,1,10,0,1,1,1,1

In [171]:
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,435886,2008-04-03,2013-09-09,7,0,0,...,1,0,0,0,0,0,1,0,1,0
1,2020,6,202006,YOIGO,5582206,2013-10-30,2019-11-18,9,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2020,6,202006,YOIGO,505682,2008-06-16,2019-10-17,6,0,0,...,0,0,0,0,1,0,1,0,0,1
3,2020,6,202006,YOIGO,2301964,2010-09-09,2019-04-17,10,0,0,...,0,0,0,0,0,0,1,0,0,1
4,2020,6,202006,YOIGO,4320867,2012-07-13,2020-06-30,9,0,1,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62884,2020,6,202006,YOIGO,2924315,2011-04-15,2020-02-29,10,0,0,...,1,0,0,0,10,0,0,0,1,1
62887,2020,6,202006,YOIGO,1713647,2010-02-07,2020-01-31,13,0,0,...,1,0,0,1,10,0,1,0,1,1
62888,2020,6,202006,YOIGO,318254,2008-01-03,2019-03-31,14,1,1,...,0,0,0,1,10,0,0,1,1,1
62892,2020,6,202006,YOIGO,132821,2007-06-26,2020-02-19,20,0,0,...,1,0,0,0,1,0,1,0,1,1
62893,2020,6,202006,YOIGO,537440,2008-01-07,2020-06-16,25,2,1,...,1,0,0,1,10,0,1,1,1,1

In [166]:
# conditions = [ 
#               (df['AVG_THR_QOE_MOBI'] <= 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] > 0 ) |
#                (df['AVG_THR_QOE_MOBI'] > 0) & (df['low_signal'] > 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] >1 ) |
#                (df['AVG_THR_QOE_MOBI'] > 0) & (df['low_signal'] > 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] == 0)  & (df['IS_IMPROVED_1M_AVG_KPI_QOE_MOBI'] > 0)
#                                  ]



# conditions = [ 
#                (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] > 0) |
#               (df['AVG_THR_QOE_MOBI'] <= 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] > 0 ) |
#                (df['AVG_THR_QOE_MOBI'] > 0) & (df['low_signal'] > 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] >1 ) |
#                (df['AVG_THR_QOE_MOBI'] > 0) & (df['low_signal'] > 0) & (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] == 0)  & (df['IS_IMPROVED_1M_AVG_KPI_QOE_MOBI'] == 0)
#                                  ]



conditions = [ 
             (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] > 0) |
              (df['AVG_THR_QOE_MOBI'] <= 2.5) | 
               (df['NUM_LLAMADAS_NETWORK'] > 0) |
            (df['IS_DETERIORED_1M_AVG_THR_QOE_MOBI']>0 ) |
            (df['Mobile_Red_Incidences']>0 ) 
 ]
               

# valores
values = [1]
               
# aplicaciones
df['SEG_Calidad'] = np.select(conditions, values)
df[['SEG_Calidad']].sum()

SEG_Calidad    73481
dtype: int64

In [167]:
df.groupby(['SEG_Calidad', 'fuga_real'])['fuga_real'].count()

SEG_Calidad  fuga_real
0            0            98920
             1             4173
1            0            69917
             1             3564
Name: fuga_real, dtype: int64

In [168]:
df.groupby(['SEG_ISSUE_CALLS', 'fuga_real'])['fuga_real'].count()

SEG_ISSUE_CALLS  fuga_real
0                0            168837
                 1              7737
Name: fuga_real, dtype: int64

In [169]:
df_fil_dosCon=df.copy()
df_fil_dosCon

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,NUM_RECA,rellamada,TIEMPO_MEDIO_ESPERA,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad
0,2020,6,202006,YOIGO,9158843,2020-06-30,.,0,1,0,...,0.0,0.0,0.0,0,0,0,0,7,0,1
1,2020,6,202006,YOIGO,9007174,2019-12-17,.,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
2,2020,6,202006,YOIGO,7274441,2016-03-09,.,0,0,0,...,0.0,0.0,0.0,0,0,0,0,1,0,1
3,2020,6,202006,YOIGO,8776745,2019-05-20,.,0,0,0,...,0.0,0.0,0.0,1,0,0,0,0,0,1
4,2020,6,202006,YOIGO,8291432,2018-04-09,.,0,0,0,...,0.0,0.0,0.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63556,2020,6,202006,YOIGO,4031590,2012-04-02,2017-11-08,17,0,0,...,0.0,0.0,0.0,0,0,0,0,1,0,1
63557,2020,6,202006,YOIGO,3923981,2012-02-26,2020-01-17,17,0,0,...,0.0,0.0,0.0,0,0,0,0,9,0,0
63558,2020,6,202006,YOIGO,2462670,2010-11-17,2020-04-13,75,0,0,...,0.0,0.0,0.0,0,1,0,1,10,0,0
63559,2020,6,202006,YOIGO,1790241,2010-03-05,2016-09-26,81,0,0,...,0.0,0.0,0.0,0,0,0,0,1,0,1
63560,2020,6,202006,YOIGO,6652857,2015-03-24,2018-08-21,129,0,0,...,0.0,0.0,0.0,0,0,0,0,10,0,0

In [170]:
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon.groupby(['SEG_Calidad', 'fuga_real'])['fuga_real'].count()   # Solo tiene solape de 300

SEG_Calidad  fuga_real
0            0            99734
             1             4193
1            0            71338
             1             3616
Name: fuga_real, dtype: int64

#### Heavy Callers
#### ======================================================

In [171]:

conditions = [ 
                    #(df['IVR_NUM_RECA'] > 0 ) | (df['NUM_RECA'] > 0 )  & (df['TIEMPO_MEDIO_ESPERA'] > 6 ) & (df['rellamada'] >= 1 ) 
     (df['TIEMPO_MEDIO_ESPERA'] > 6 ) | (df['rellamada'] >= 1 ) 
              ]

# rellamada 
# valores
values = [1]
               
# aplicaciones
df['SEG_Heavy_Callers'] = np.select(conditions, values)

df[['SEG_Heavy_Callers']].sum()   

df.groupby(['SEG_Heavy_Callers', 'fuga_real'])['fuga_real'].count()




# valores
values = [1]
               
# aplicaciones
df['SEG_Wrong_Tariff'] = np.select(conditions, values)
df

df[['SEG_Wrong_Tariff']].sum()

SEG_Wrong_Tariff    14135
dtype: int64

In [172]:
df.groupby(['SEG_Heavy_Callers', 'fuga_real'])['fuga_real'].count()

SEG_Heavy_Callers  fuga_real
0                  0            169185
                   1              7739
1                  0             13301
                   1               834
Name: fuga_real, dtype: int64

In [173]:
df_fil_dosCon=df.copy()
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad'] == 0] 
df_fil_dosCon.groupby(['SEG_Heavy_Callers', 'fuga_real'])['fuga_real'].count()   # Solo tiene solape de 300

SEG_Heavy_Callers  fuga_real
0                  0            95988
                   1             4005
1                  0             3746
                   1              188
Name: fuga_real, dtype: int64

#### Wrong-Tariff
#### ======================================================

In [276]:
# Wrong-Tariff
# ======================================================
conditions = [   
                  # ----->  por Defecto
                 (df['Lineas_Con_Bono_Sin_Uso'] >0)| #nuevo 
                 (df['FLAG_useless_line'] > 0 ) | #nuevo    
                               
                 # ----->  por Exceso
                 (df['Lineas_Exceso'] > 0 )| 
                 (df['lineas_GB_Exceso']>=1) | 
    
                 # ----->  por OTRO
                 (df['LINEAS_TARIFA_ERRONEA'] > 0 ) |
                 #  (df['Lineas_Exceso'] == 0) & (df['FIN_DTO'] == 0)  &  (df['NUM_LLAMADAS_WRONG_TARIFF'] > 0 ) |                                
                 (df['NUM_LLAMADAS_WRONG_TARIFF'] > 0 )  |
    
                 (df['NUM_DISC_NEXT_2_MONTHS_DEAC'] >=1) |
                 (df['NUM_DISC_NEXT_MONTH_DEAC'] >=1) |
                 (df['Lineas_Sin_Uso'] >=1) |
    (df['lineas_sin_uso_m1'] >=1) |
    (df['Lineas_Poco_Uso'] >=1) |
    
    (df['BILLING_CLAIMS'] >=1) 
    
    
   
                                 ]

# valores
values = [1]
               
# aplicaciones
df['SEG_Wrong_Tariff'] = np.select(conditions, values)
df

df[['SEG_Wrong_Tariff']].sum()

SEG_Wrong_Tariff    125981
dtype: int64

In [277]:
df_fil_dosCon=df.copy()
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Heavy_Callers'] == 0] 
df_fil_dosCon.groupby(['SEG_Wrong_Tariff', 'fuga_real'])['fuga_real'].count()

SEG_Wrong_Tariff  fuga_real
0                 0            34623
                  1             1362
1                 0            61365
                  1             2643
Name: fuga_real, dtype: int64

#### Competitors
#### ======================================================

In [278]:
df

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,SEG_Competitors
0,2020,6,202006,YOIGO,9158843,2020-06-30,.,0,1,0,...,0,0,0,0,7,0,1,0,1,0
1,2020,6,202006,YOIGO,9007174,2019-12-17,.,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,2020,6,202006,YOIGO,7274441,2016-03-09,.,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,2020,6,202006,YOIGO,8776745,2019-05-20,.,0,0,0,...,1,0,0,0,0,0,1,0,1,1
4,2020,6,202006,YOIGO,8291432,2018-04-09,.,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63556,2020,6,202006,YOIGO,4031590,2012-04-02,2017-11-08,17,0,0,...,0,0,0,0,1,0,1,0,0,1
63557,2020,6,202006,YOIGO,3923981,2012-02-26,2020-01-17,17,0,0,...,0,0,0,0,9,0,0,0,1,1
63558,2020,6,202006,YOIGO,2462670,2010-11-17,2020-04-13,75,0,0,...,0,1,0,1,10,0,0,0,0,1
63559,2020,6,202006,YOIGO,1790241,2010-03-05,2016-09-26,81,0,0,...,0,0,0,0,1,0,1,0,0,1
63560,2020,6,202006,YOIGO,6652857,2015-03-24,2018-08-21,129,0,0,...,0,0,0,0,10,0,0,0,0,0

In [279]:
# conditions = [ 
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] > 0 )  & (df['cust_n_yoigo_mob_port'] >  1 )|                   
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] == 0 ) & (df['MIN_LLAMADAS_COMPETENCIA_OUT']>0)  
    
    
#                                  ]

# conditions = [ 
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] > 0 )  & (df['cust_n_yoigo_mob_port'] >  1 )|                   
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] == 0 ) & (df['MIN_LLAMADAS_COMPETENCIA_OUT']>0)  |
#                 (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >= 1 )|  #nuevo
#                 (df['IS_ACCO_BUND_LONGER_THAN_1_YEAR'] == 0 ) & (df['cust_n_mob_recent_port'] >=1) #nuevo
#                                  ]


conditions = [ 
                    #(df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['cust_days_since_last_mob_port'] < 765 )   |                 
                    (df['Amigos_competencia']  < 2 )  & (df['cust_days_since_last_mob_port'] < 765 )   |                            
                   # (df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['MIN_LLAMADAS_COMPETENCIA_OUT'] > 0 )  |
                     (df['Amigos_competencia'] <  2 )  & (df['MIN_LLAMADAS_COMPETENCIA_OUT'] > 0 )  |
                    (df['cust_n_yoigo_mob_port'] > 0   )  |
                    (df['FRIENDS_IS_CHURN_GMM'] > 3  )  |
    # añadido
                (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >=  1)|
                (df['MIN_LLAMADAS_COMPETENCIA_OUT'] >=  6) |
                (df['MIN_LLAMADAS_COMPETENCIA_IN'] >= 1) |
                (df['NUM_LLAMADAS_COMPETENCIA_IN'] >= 4),
    
    
    
    
#      |         (df['NUM_LLAMADAS_VODAFONE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_ORANGE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_R_CABLE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_AMENA_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_DIGI_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_ONO_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_TELEFONICA_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_LOWI_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_JAZZTEL_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_SYM_OUT'] >= 0) 
    
                    
#                     (df['IS_ACCO_BUND_LONGER_THAN_1_YEAR'] == 0 ) & (df['cust_n_mob_recent_port'] >=1)
              ]


# valores
values = [1]
               
# aplicaciones
df['SEG_Competitors'] = np.select(conditions, values)
# df_fil_dosCon.groupby(['SEG_Competitors', 'fuga_real'])['fuga_real'].count()

In [280]:
#df['NUM_LLAMADAS_COMPETENCIA_OUT'].describe()

In [281]:
# conditions = [ 
#                    (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 0  )   ,
#      (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 1  ) ,
#      (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 2  ) ,
    
                
#                     (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >=3 )  
                   
#               ]


# # valores
# values = [0,1,2,3]
               
# # aplicaciones
# df['NUM_LLAMADAS_COMPETENCIA_OUT_2'] = np.select(conditions, values)

In [282]:
# df['NUM_LLAMADAS_COMPETENCIA_OUT_2'].describe()

In [283]:
# A=df.groupby(['NUM_LLAMADAS_COMPETENCIA_OUT_2', 'fuga_real'])['fuga_real'].count()
# A.to_frame()

In [284]:
df_fil_dosCon=df.copy()
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Heavy_Callers'] == 0]
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Wrong_Tariff'] == 0]



df_fil_dosCon.groupby(['SEG_Competitors', 'fuga_real'])['fuga_real'].count()

SEG_Competitors  fuga_real
0                0            26482
                 1              970
1                0             8141
                 1              392
Name: fuga_real, dtype: int64

In [129]:
# NOTA, QUITAR A LOS CLIENES QUE TIENEN UN TOTAL DE NUM_LLAMADAS_VODAFONE_OUT == 0 y sacar la media

In [236]:
def verificar(df,var):
    variables_TOTAL=pd.DataFrame(list(df.columns.values)) 
    variables_TOTAL[['Variables']]=variables_TOTAL[[0]]
    validar=list(variables_TOTAL[variables_TOTAL['Variables'].str.contains(var,case=False)]['Variables']) 
    return validar

In [275]:
verificar(df,'uso')

['Lineas_Sin_Uso',
 'Lineas_Con_Bono_Sin_Uso',
 'lineas_sin_uso_m1',
 'Lineas_Poco_Uso']

In [132]:

#df_num=df.head(1000)
columnas=df[
    [ 
'NUM_LLAMADAS_COMPETENCIA_OUT',
'MIN_LLAMADAS_COMPETENCIA_OUT',
'MIN_LLAMADAS_COMPETENCIA_IN',
'NUM_LLAMADAS_COMPETENCIA_IN','fuga_real'
          
]]

In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.model_selection DecisionTree , train_test_split


from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [153]:

df_2

,YEAR,MONTH,EOP,BRAND_DS,CUSTOMER_ID,MIN_SERV_ACTIVATION_DATE,MAX_SERV_DEACTIVATION_DATE,NUM_ACCS_TOTA,NUM_ACCS_ACTI,NUM_ACCS_DEAC,...,LINEAS_TARIFA_ERRONEA,PROBLEMAS_TECNICOS,TICKETS_RED,low_signal,Amigos_competencia,SEG_ISSUE_CALLS,SEG_Calidad,SEG_Heavy_Callers,SEG_Wrong_Tariff,NUM_LLAMADAS_COMPETENCIA_OUT_recode
169,2020,6,202006,YOIGO,9126840,2020-05-27,.,0,0,0,...,0,0,0,0,10,0,1,1,0,1
258,2020,6,202006,YOIGO,8914430,2019-09-26,.,0,0,0,...,0,0,0,0,9,0,1,0,0,1
303,2020,6,202006,YOIGO,8421429,2018-07-23,.,0,0,0,...,0,0,0,0,8,0,1,1,0,1
372,2020,6,202006,YOIGO,3082278,2020-05-14,.,0,0,0,...,0,0,0,0,10,0,1,0,0,1
433,2020,6,202006,YOIGO,9154094,2020-06-25,.,0,1,0,...,0,0,0,0,3,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63533,2020,6,202006,YOIGO,4542887,2012-09-11,2020-06-20,10,2,4,...,1,0,0,1,10,1,1,1,1,1
63534,2020,6,202006,YOIGO,3867710,2012-02-17,2020-01-31,10,0,0,...,0,0,0,0,10,0,0,0,0,1
63544,2020,6,202006,YOIGO,684390,2008-11-07,2020-05-06,13,1,1,...,0,0,0,0,10,1,0,1,1,1
63548,2020,6,202006,YOIGO,417125,2008-03-10,2020-06-26,15,1,1,...,1,0,0,0,9,1,1,1,1,1
63553,2020,6,202006,YOIGO,1378914,2009-10-02,2020-06-13,19,1,2,...,0,0,0,0,7,1,0,1,1,1

In [252]:
# cortes con arbol sobre-ajustados (manteniendo el 100% de casos)
# df_univar=df[['NUM_LLAMADAS_COMPETENCIA_OUT','fuga_real']]

df_univar = df[(df.NUM_LLAMADAS_COMPETENCIA_IN > 0) ]
   
# se entrena arbol
# ========================================================
tree_model = DecisionTreeClassifier(max_depth=2)
tree_model.fit(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame(), df_univar.fuga_real)

# entrenamiento del modelo
# ========================================================
df_univar['NUM_LLAMADAS_PROCESS_PROB']=tree_model.predict_proba(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame())[:,1] 

# Definición del modelo
# ========================================================
tree_model = DecisionTreeClassifier(max_depth=2)
tree_model.fit(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame(), df_univar.fuga_real)
df_univar['NUM_LLAMADAS_PROCESS_PROB']=tree_model.predict_proba(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame())[:,1] 


cortes_sum=pd.concat( [df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].min(),                       
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].max(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].count(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].mean(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].std() ],axis=1
                    )
cortes_sum

,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT
NUM_LLAMADAS_PROCESS_PROB,,,,,
0.041570,0,0,9887,0.000000,0.000000
0.052632,1,4,3306,1.820024,1.020799
0.075322,5,31,1009,9.041625,4.831922
0.222222,32,151,27,48.222222,24.570673

In [222]:
df_univar = df[(df.NUM_LLAMADAS_COMPETENCIA_OUT >= 1) & (df.NUM_LLAMADAS_COMPETENCIA_OUT <6)]
   
# se entrena arbol
# ========================================================
tree_model = DecisionTreeClassifier(max_depth=2)
tree_model.fit(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame(), df_univar.fuga_real)

# entrenamiento del modelo
# ========================================================
df_univar['NUM_LLAMADAS_PROCESS_PROB']=tree_model.predict_proba(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame())[:,1] 

# Definición del modelo
# ========================================================
tree_model = DecisionTreeClassifier(max_depth=2)
tree_model.fit(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame(), df_univar.fuga_real)
df_univar['NUM_LLAMADAS_PROCESS_PROB']=tree_model.predict_proba(df_univar.NUM_LLAMADAS_COMPETENCIA_OUT.to_frame())[:,1] 


cortes_sum=pd.concat( [df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].min(),                       
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].max(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].count(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].mean(),
                       df_univar.groupby(['NUM_LLAMADAS_PROCESS_PROB'])['NUM_LLAMADAS_COMPETENCIA_OUT'].std() ],axis=1
                    )
cortes_sum

,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT,NUM_LLAMADAS_COMPETENCIA_OUT
NUM_LLAMADAS_PROCESS_PROB,,,,,
0.053893,1,1,4713,1.000000,0.000000
0.055746,2,4,4090,2.674328,0.767429
0.063584,5,5,519,5.000000,0.000000

In [54]:
# data_filter = df_fil_dosCon[df_fil_dosCon['MIN_LLAMADAS_COMPETENCIA_IN'] >0]

In [ ]:
# data_filter['MIN_LLAMADAS_COMPETENCIA_IN'].describe()

In [155]:
# data_filter.groupby(['MIN_LLAMADAS_COMPETENCIA_IN', 'fuga_real'])['fuga_real'].count()

In [156]:
# data_filter['MIN_LLAMADAS_COMPETENCIA_IN'].describe()

In [157]:
#df_fil_dosCon

In [ ]:
# conditions = [ 
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] > 0 )  & (df['cust_n_yoigo_mob_port'] >  1 )|                   
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] == 0 ) & (df['MIN_LLAMADAS_COMPETENCIA_OUT']>0)  
    
    
#                                  ]

# conditions = [ 
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] > 0 )  & (df['cust_n_yoigo_mob_port'] >  1 )|                   
#                 (df['NUM_FRIENDS'] > 1 ) & (df['cust_n_mm_group_mob_port'] == 0 ) & (df['MIN_LLAMADAS_COMPETENCIA_OUT']>0)  |
#                 (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >= 1 )|  #nuevo
#                 (df['IS_ACCO_BUND_LONGER_THAN_1_YEAR'] == 0 ) & (df['cust_n_mob_recent_port'] >=1) #nuevo
#                                  ]


conditions = [ 
                    #(df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['cust_days_since_last_mob_port'] < 765 )   |                 
                    (df['Amigos_competencia']  < 2 )  & (df['cust_days_since_last_mob_port'] < 765 )   |                            
                   # (df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['MIN_LLAMADAS_COMPETENCIA_OUT'] > 0 )  |
                     (df['Amigos_competencia'] <  2 )  & (df['MIN_LLAMADAS_COMPETENCIA_OUT'] > 0 )  |
                    (df['cust_n_yoigo_mob_port'] > 0   )  |
                    (df['FRIENDS_IS_CHURN_GMM'] > 3   )  #|
    # añadido
              (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >= 3 ) 
#      |         (df['NUM_LLAMADAS_VODAFONE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_ORANGE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_R_CABLE_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_AMENA_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_DIGI_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_ONO_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_TELEFONICA_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_LOWI_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_JAZZTEL_OUT'] >= 0) |
#               (df['NUM_LLAMADAS_SYM_OUT'] >= 0) 
    
                    
#                     (df['IS_ACCO_BUND_LONGER_THAN_1_YEAR'] == 0 ) & (df['cust_n_mob_recent_port'] >=1)
              ]


# valores
values = [1]
               
# aplicaciones
df['SEG_Competitors'] = np.select(conditions, values)
# df_fil_dosCon.groupby(['SEG_Competitors', 'fuga_real'])['fuga_real'].count()

In [ ]:
df['NUM_LLAMADAS_COMPETENCIA_OUT'].describe()

In [ ]:
pd.options.display.max_rows

In [ ]:
# A=df.groupby(['Amigos_competencia', 'fuga_real'])['fuga_real'].count()
# A.to_frame()


A=df.groupby(['NUM_LLAMADAS_COMPETENCIA_OUT', 'fuga_real'])['fuga_real'].count()
A.to_frame()

In [ ]:

conditions = [ 
                   (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 0  )   ,
     (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 1  ) ,
     (df['NUM_LLAMADAS_COMPETENCIA_OUT'] == 2  ) ,
    
                
                    (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >=3 )  
                   
              ]


# valores
values = [0,1,2,3]
               
# aplicaciones
df['NUM_LLAMADAS_COMPETENCIA_OUT_2'] = np.select(conditions, values)

In [ ]:
df['NUM_LLAMADAS_COMPETENCIA_OUT_2'].describe()

In [ ]:
A=df.groupby(['NUM_LLAMADAS_COMPETENCIA_OUT_2', 'fuga_real'])['fuga_real'].count()
A.to_frame()

In [ ]:
A=df.groupby(['NUM_LLAMADAS_COMPETENCIA_OUT_2', 'fuga_real'])['fuga_real'].count()
A.to_frame()

In [ ]:
def verificar(df,var):
    variables_TOTAL=pd.DataFrame(list(df.columns.values)) 
    variables_TOTAL[['Variables']]=variables_TOTAL[[0]]
    validar=list(variables_TOTAL[variables_TOTAL['Variables'].str.contains(var,case=False)]['Variables']) 
    return validar

In [ ]:
verificar(df,'FU')

In [ ]:
def verificar(df,var):
    variables_TOTAL=pd.DataFrame(list(df.columns.values)) 
    variables_TOTAL[['Variables']]=variables_TOTAL[[0]]
    validar=list(variables_TOTAL[variables_TOTAL['Variables'].str.contains(var,case=False)]['Variables']) 
    return validar

In [ ]:
verificar(df,var):

In [ ]:
df_fil_dosCon= df[df['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad']== 0]
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Heavy_Callers'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Wrong_Tariff']== 0]
df_fil_dosCon

In [ ]:
df_fil_dosCon.groupby(['SEG_Competitors', 'fuga_real'])['fuga_real'].count()

In [ ]:
#df_fil_dosCon.groupby(['SEG_Competitors', 'fuga_real'])['fuga_real'].count()

In [ ]:
conditions = [ 
                    (df['SEG_ISSUE_CALLS'] == 1 ) , 
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 1 )  ,
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 1)   ,
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 0)  & (df['SEG_Competitors'] == 1) 
              ]


# valores
values = ['SEG_Process_Issue','SEG_Calidad','SEG_Wrong_Tariff','SEG_Competitors' ]
               
# aplicaciones
df['Segmento_1P'] = np.select(conditions, values)

df[['Segmento_1P']].sum()   

df['Segmento_1P'].unique()

In [ ]:
# conexion_bq.upload_table_bq_gcs(df,
#                     # 'bi-data-science-pilots.DESARROLLO.00segment_cortes_v4',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
#                     'bi-data-science-pilots.DESARROLLO.00segment_cortes_1P_AYD_v2',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
#                     bucket_gcs = 'nbamasmovil',
#                     archivo_gcs = 'b.csv',
#                     archivo_local_tmp = 'b.csv',
#                     sobreescribo = True,
#                     elimino_fichero_gcs = True)

In [ ]:
df_muestra=df.sample(n=10000, random_state=1)
df_muestra

In [ ]:
corr = df_muestra.corr()
cor_var= corr[['NUM_LLAMADAS_COMPETENCIA_OUT']].sort_values(by = 'NUM_LLAMADAS_COMPETENCIA_OUT',ascending = False)

In [ ]:
corr = df_muestra.corr()
corr

In [ ]:
cor_var= corr[['Jiras_Reclamacion_Movil']].sort_values(by = 'Jiras_Reclamacion_Movil',ascending = False)
SEG_PROCESS_ISSUE= cor_var[cor_var['Jiras_Reclamacion_Movil']>=0.3]

#SEG_PROCESS_ISSUE= cor_var[cor_var['Jiras_Reclamacion_Movil']>=0.2 | cor_var['Jiras_Reclamacion_Movil']<0.3]
SEG_PROCESS_ISSUE

In [ ]:
SEG_PROCESS_ISSUE= cor_var[cor_var['Jiras_Reclamacion_Movil']>=0.2]

In [ ]:
variables_issue=[ 'Jiras_Reclamacion_Movil', 'MOBILE_INCIDENCES', 'CLAIMS', 'TOTAL_BLUE_TICKETS', 'BILLING_CLAIMS', # 'tiempo_hr_resolucion_incidencia',
 #'tiempo_hr_resolucion_reclamacion',
                   'MOSAIC_NUM_COMM_WITH_ISSUE_CURR', 'MOSAIC_NUM_COMM_DEPT_ATC_CURR', 'IVR_NUM_SECS_TALK_TIME',
 'MOSAIC_NUM_COMM_WP_GRP_NON_TECH_CURR', 'IVR_NUM_AGENT', 'IVR_NUM_ACD', 'MOSAIC_NUM_COMMS_CURR', 'IVR_NUM_SECS_TOTAL', 'IVR_NUM_AGEN', 'IVR_NUM_CALL_TRAN',
 'MOSAIC_NUM_COMM_WP_GRP_NO_ISSUE_CURR', 'MOSAIC_NUM_COMM_WP_NO_ISSUE_CURR', 'MOSAIC_NUM_COMM_WP_GRP_UNKN_CURR', 'MOSAIC_NUM_COMM_WITHOUT_ISSUE_CURR', 'IVR_NUM_RECA_AGEN',
  'IVR_NUM_SEGM', 'IVR_NUM_SECS_WAIT_TIME', 'IVR_NUM_SECS_TOTA_WAIT', 'IVR_NUM_TOTA_WAIT_MORE_5MIN', 'IVR_NUM_PART_WAIT_MORE_5MIN', 'IVR_NUM_OUT_CALL_CENTER', 'IVR_NUM_MDTEL', 
'IVR_NUM_SAME_ORIGIN', 'IVR_NUM_CALL_IN', 'IVR_NUM_CALLS', 'IVR_NUM_RECA', 'IVR_NUM_YDILO', 'IVR_IS_AFTE', 'IVR_NUM_WEDN', 'NUM_LLAMADAS_HEAVY_CALLERS', 'IVR_IS_NIGH',
 'NUM_LLAMADAS_PROCESS', 'IVR_NUM_HOUR_20', 'MOSAIC_NUM_COMM_WP_OTHERS_CURR', 'IVR_NUM_HOUR_13',
 'IVR_NUM_THUR', 'IVR_NUM_HOUR_14', 'MOSAIC_NUM_COMM_WP_GRP_TECH_CURR', 'NUM_LLAMADAS_PROCESS', 'IVR_NUM_SEGM',
 'IVR_NUM_YDILO', 'IVR_NUM_ACD', 'IVR_NUM_CALL_TRAN', 'IVR_NUM_MDTEL', 'IVR_NUM_CALLS', 'IVR_NUM_CALL_IN',
 'IVR_NUM_RECA', 'IVR_NUM_AGENT', 'IVR_NUM_AGEN', 'IVR_NUM_SAME_ORIGIN',
 'IVR_NUM_SECS_TOTAL', 'IVR_NUM_RECA_AGEN', 'IVR_IS_AFTE', 'IVR_NUM_SECS_TALK_TIME', 'MOSAIC_NUM_COMMS_CURR',
 'MOSAIC_NUM_COMM_WP_NO_ISSUE_CURR', 'MOSAIC_NUM_COMM_WP_GRP_NO_ISSUE_CURR',
 'MOSAIC_NUM_COMM_WP_GRP_UNKN_CURR', 'IVR_IS_NIGH', 'IVR_NUM_SECS_WAIT_TIME',
 'IVR_NUM_SECS_TOTA_WAIT', 'MOSAIC_NUM_COMM_DEPT_ATC_CURR', 'IVR_NUM_WEDN', 'MOSAIC_NUM_COMM_WITHOUT_ISSUE_CURR',
 'IVR_NUM_PART_WAIT_MORE_5MIN', 'IVR_NUM_TOTA_WAIT_MORE_5MIN',
 'IVR_NUM_OUT_CALL_CENTER', 'IVR_NUM_MOND', 'NUM_LLAMADAS_HEAVY_CALLERS',
 'IVR_NUM_THUR', 'IVR_NUM_HOUR_13', 'IVR_NUM_HOUR_20', 'IVR_NUM_FRID', 'IVR_NUM_HOUR_14',
 'IVR_NUM_HOUR_15', 'IVR_NUM_HOUR_21', 'IVR_NUM_HOUR_12', 
 'IVR_IS_MORN', 'IVR_NUM_HOUR_19']  # 'ISSUE_CALL','total_jiras_cc'

In [ ]:
variables_WrongTarrif=['LINEAS_TARIFA_ERRONEA', 'flag_BONO', 'lineas_BONO_PAGADO', 'FLAG_useless_line', 'LM3_LINEAS_BONO_PAGADO', 'LM2_LINEAS_BONO_PAGADO', 'Lineas_Exceso',
 'Lineas_Con_Bono_Sin_Uso', 'lineas_GB_Exceso', 'lineas_1GB_Exceso', 'LM2_LINEAS_GB_EXCESO', 'EUR_BONO_PAGADO_C', 'Fact_BONO', 'total_amount_wo_tax_data',
 'MoONLY_am_wotax_data', 'lineas_gb_exceso_m1', 'LM3_LINEAS_GB_EXCESO', 'lineas_gb_exceso_m2', 'kpi_tax', 'Fact_Total_tax', 'FIN_DTO',
 'NUM_LLAMADAS_WRONG_TARIFF', 'IVR_NUM_YDILO', 'IVR_NUM_SEGM', 'IVR_NUM_RECA', 'IVR_NUM_SAME_ORIGIN', 'IVR_IS_AFTE',
 'IVR_NUM_MDTEL', 'IVR_NUM_CALL_IN', 'IVR_NUM_CALLS', 'MOSAIC_NUM_COMM_DEPT_ATC_CURR', 'MOSAIC_NUM_COMM_WP_GRP_NO_ISSUE_CURR', 'MOSAIC_NUM_COMM_WP_NO_ISSUE_CURR',
 'MOSAIC_NUM_COMM_WP_GRP_UNKN_CURR', 'MOSAIC_NUM_COMMS_CURR', 'MAX_IVR_NUM_SEGM', 'IVR_NUM_THUR', 'IVR_NUM_SECS_TOTAL',
 'MAX_IVR_NUM_SECS_TOTAL', 'MOSAIC_NUM_COMM_WITHOUT_ISSUE_CURR', 'IVR_DIFF_CUST_PHONE_NM', 'NUM_LLAMADAS_PROCESS', 'NUM_LLAMADAS_HEAVY_CALLERS',
 'AVG_IVR_NUM_SEGM', 'IVR_NUM_CALL_TRAN', 'IVR_NUM_RECA_AGEN', 'IVR_NUM_TUES']

In [ ]:
variables_Competitors=['NUM_LLAMADAS_COMPETENCIA_OUT',  'NUM_LLAMADAS_TELEFONICA_OUT', 'NUM_LLAMADAS_JAZZTEL_OUT',
 'MIN_LLAMADAS_TELEFONICA_OUT', 'NUM_LLAMADAS_ORANGE_OUT', 'MIN_LLAMADAS_ORANGE_OUT', 'MIN_LLAMADAS_JAZZTEL_OUT',
 'MIN_LLAMADAS_COMPETENCIA_IN', 'NUM_LLAMADAS_TELEFONICA_IN', 'NUM_LLAMADAS_VODAFONE_OUT', 'IVR_NUM_SEGM', 'MIN_LLAMADAS_TELEFONICA_IN', 
 'IVR_NUM_SAME_ORIGIN', 'IVR_NUM_CALL_IN', 'IVR_NUM_CALLS', 'IVR_NUM_MDTEL', 'IVR_NUM_RECA', 'IVR_NUM_YDILO', 'IVR_NUM_RECA_AGEN', 'IVR_NUM_CALL_TRAN',
 'MIN_LLAMADAS_VODAFONE_OUT', 'IVR_IS_AFTE', 'NUM_LLAMADAS_PROCESS', 'FRIENDS_IS_CHURN_YOI', 'FRIENDS_IS_CHURN_GMM', 
 'NUM_FRIENDS_BRAND_TME', 'cust_min_days_between_mob_port', 'cust_min_months_between_mob_port', 'cust_max_days_between_mob_port',
 'cust_max_months_between_mob_port', 'NUM_FRIENDS_BRAND_UNKN', 'NUM_FRIENDS_BRAND_TME', 'NUM_FRIENDS_BRAND_OSP',
 'NUM_FRIENDS_BRAND_DIG', 'NUM_FRIENDS_BRAND_YOI', 'NUM_FRIENDS_BRAND_GMM', 'NUM_FRIENDS', 'cust_days_since_last_mob_port', 'cust_n_yoigo_mob_port',
 'cust_n_mm_group_mob_port']  #, 'tiempo_hr_resolucion_reclamacion', 'tiempo_hr_resolucion_incidencia' ,'NUM_FRIENDS_BRAND_VOD', ]

In [ ]:
variables_Calidad=[
'NUM_THR_QOE_MOBI_1', 'PERC_GB_3G_ALLN_CURR', 'NUM_MONTH_BAD_THR_QOE_MOBI_3M', 'NUM_MONTH_BAD_THR_QOE_MOBI_6M', 'NUM_MONTH_BAD_THR_QOE_MOBI_12M',
'PERC_GB_3G_NATR_CURR', 'NUM_GB_3G_NATR_CURR', 'NUM_GB_3G_CURR', 'IS_SAME_1M_AVG_KPI_QOE_MOBI', 'IS_SAME_3M_AVG_KPI_QOE_MOBI', 'PERC_GB_3G_OWNN_CURR',
'NUM_GB_3G_RAAS_CURR', 'PERC_GB_NATR_ALLN_CURR', 'PERC_GB_NATR_CURR', 'low_signal', 'PERC_SESS_NATR_ALLN_CURR', 'PERC_SESS_NATR_CURR', 'NUM_NETW_TMEN_CURR',
'PERC_CALL_NATR_CURR', 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'NUM_LINE_KPI_QOE_MOBI', 'AVG_DL_PEAK_THR_KBPS_MOBI', 'NUM_THR_QOE_MOBI_5',
'PERC_GB_4G_OWNN_CURR', 'NUM_FRIENDS', 'PERC_GB_4G_ALLN_CURR', 'AVG_KPI_PERC_CSS_MOBI', 'NUM_FRIENDS_BRAND_UNKN', 'PERC_GB_4G_NATR_CURR', 'IS_SAME_1M_AVG_THR_QOE_MOBI',
'IS_DETERIORED_1M_AVG_KPI_QOE_MOBI', 'IS_DETERIORED_1M_AVG_THR_QOE_MOBI', 'IS_DETERIORED_3M_AVG_KPI_QOE_MOBI', 'low_signal', 'PROBLEMAS_TECNICOS' ] #'total_jiras_cc'

In [ ]:
# desde --->  revisar primero como va la fuga en el segmento

In [ ]:
variables_issue.extend(variables_WrongTarrif)
variables_issue.extend(variables_Competitors)
variables_issue.extend(variables_Calidad)
#variables_issue

In [ ]:
df_2=df.copy()

In [ ]:
df_2.drop(variables_issue, axis = 'columns', inplace=True)

In [ ]:
df_2.shape

In [ ]:
# elimino las variables que son de tipo fecha, str,contantes

In [ ]:
import AYD
cadena=AYD.DS.DSC_Factor(df_2)
cadena_constantes = cadena[cadena.unique==1]           
eliminar_constantes=list(cadena_constantes['Variables'])

# Se añade a la lista variables de consentimiento
# ===================================================
eliminar_constantes.extend(['CONSENTSTATUSDETAIL','CONSENTSTATUSNAME','CONSENT_STATUS_DS','CONSENT_STATUS_DETAIL'] ) # variables gdpr 
eliminar_constantes.extend(['CUST_PREP_SEGMENT','MAIN_BRAND'] ) # variables desconocida
eliminar_constantes.extend(['CRM_WORK_TYPE'] ) # WORK TYPE, tenemos que recodificar bien


cadena=AYD.DS.DSC_Factor(df_2)
cadena.head()


# Se identifican variables constantes
# ===================================================
cadena_constantes = cadena[cadena.unique==1]       
eliminar_constantes=list(cadena_constantes['Variables'])

# Se añade a la lista variables de consentimiento
# ===================================================
# eliminar_constantes.extend(['CONSENTSTATUSDETAIL','CONSENTSTATUSNAME','CONSENT_STATUS_DS','CONSENT_STATUS_DETAIL'] ) # variables gdpr 
# eliminar_constantes.extend(['CUST_PREP_SEGMENT','MAIN_BRAND'] ) # variables desconocida
eliminar_constantes.extend(['CRM_WORK_TYPE'] ) # WORK TYPE, tenemos que recodificar bien



# Se eliminan las varibales seleccionadas
# ========================================
df_2.drop(['CRM_BIRTH_DT',
 'LINE_TYPE_MAIN_PREP_ACT_LAST_DT', 'LINE_TYPE_MAIN_PREP_DEA_LAST_DT',
 'LINE_TYPE_FIXE_POST_ACT_LAST_DT', 'LINE_TYPE_MAIN_POST_ACT_LAST_DT',
 'LINE_TYPE_EXTR_POST_ACT_LAST_DT', 'LINE_TYPE_ADDI_POST_ACT_LAST_DT',
 'LINE_TYPE_FIXE_POST_DEA_LAST_DT', 'LINE_TYPE_MAIN_POST_DEA_LAST_DT',
 'LINE_TYPE_EXTR_POST_DEA_LAST_DT', 'LINE_TYPE_ADDI_POST_DEA_LAST_DT',
 'CUSTOMER_ID'], axis = 'columns',inplace=True) 



numericas=AYD.DS.DSC(df_2)
numericas.head()


#eliminar todas la variables con la palabra busi y soho
eliminar=list(numericas[numericas['Variables'].str.contains("BUSI|SOHO|FIX|GDPR|FTTH|ADSL|2P|FMC|PRE|DATE|FECHA" ,case=False)]['Variables']) 
eliminar.extend(['EOP','GDPR_NEVER_CALL','MONTH','Propension','YEAR','Percentil','VERSION','Decil'])  # variables gdpr 

df_2.drop(eliminar, axis = 'columns', inplace=True)
df_num=df_2
df_num

In [ ]:
# de las varaibles que quedan procedo a realizar una correlacion con fuga

In [ ]:
df_muestra=df_num.head(1000)

In [ ]:
# ===============================================
corr = df_muestra.corr()
cor_var= corr[['fuga_real']].sort_values(by = 'fuga_real',ascending = False)
cor_var

In [ ]:

corr = df_muestra.corr()
cor_var= corr[['NUM_SERV_AGILETV_DAYS']].sort_values(by = 'NUM_SERV_AGILETV_DAYS',ascending = False)
cor_var




otros= cor_var[cor_var['NUM_SERV_AGILETV_DAYS']>=0.30]
otros

In [ ]:
seg_lista_1= list(otros.T)
seg_lista_1

In [ ]:

df_num = df_num.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('.'))
df_num.isnull().values.any()

In [ ]:
verificar(df_fil_dosCon,"tiempo_hr_resolucion_incidencia")

In [ ]:
X=df_num[
    [ # 'NUM_DISC_TOTA',
# 'NUM_DISC_PURE_NEXT_2_MONTHS_ACTI',
# 'NUM_DISC_PURE_NEXT_2_MONTHS_DEAC',
     
 'tiempo_hr_resolucion_incidencia',
 'tiempo_hr_resolucion_reclamacion',
 'NUM_SERV_AGILETV_DAYS',
 'total_jiras_cc',
 'ISSUE_CALL',
 #'IVR_IS_NIGH',
 'NUM_SERV_AGILETV_SKY_TOTA',
 #'MIN_NUM_SERV_DAYS_TOTA',
 #'IVR_NUM_MOND',
 'MoBrand_calls',
 #'MoBrand_am_wotax_sms',
 'NUM_LINE_TYPE_EXTR_CURR',
 'NUM_LINE_TYPE_EXTR_POST_CURR',
 'MoBrand_am_wotax_data',
 #'IVR_NUM_HOUR_19',
 #'IVR_NUM_HOUR_20',
 #'PERC_GB_3G_RAAS_CURR',
 'NUM_LLAMADAS_JAZZTEL_IN',
 'MoBrand_mb_data',
 #'NUM_EURO_DISC_CURR',
        
 'IS_CUST_CANC_CURR',
 'IVR_NUM_HOUR_09',
 'MOSAIC_NUM_COMM_DEPT_SERVICE_CURR',
# 'lineas_USAGE',
 'NUM_SERV_POST_DEAC',
 'NUM_TECH_SPEE_UNKN_POST_DEAC',
 'NUM_TECH_SPEE_UNKN_DEAC',
 'NUM_LINES_DEAC',
 'NUM_SERV_DEAC',
 'NUM_SEGM_RESI_DEAC',
 'NUM_SEGM_RESI_POST_DEAC',
 'NUM_BRAND_YOIGO_DEAC',
 'NUM_CANC_CURR',
 'NUM_LINES_POST_DEAC',
 #'MoBrand_min_calls',
# 'NUM_SECS_OWNN_CURR',
 'NUM_FRIENDS_BRAND_VOD',
 'NUM_DISC_CURR',
 'MAX_NUM_SERV_DAYS_DEAC']      
]


Y=df_num[['fuga_real']].astype(str)


# Realizamos el train test split
# ======================================================
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

n = len(X)
print("Total de registros en el DF original: {}".format(n))
print("Porcentaje en  train respecto al original: {}".format(1.0 * len(X_train) / n))
print("Porcentaje en  test respecto al original: {}".format(1.0 * len(X_test) / n))

from sklearn.tree import DecisionTreeClassifier
import numpy as np

# Indice de gini para arbol de decisión
# ======================================================# Dibujamos arbol


import graphviz 
from sklearn import tree
import graphviz 
from sklearn import tree

clf_gini = DecisionTreeClassifier(criterion = "gini",min_samples_leaf=3000) 

#clf=clf_entropy.fit(X_train, Y_train)
clf=clf_gini.fit(X_train, Y_train)
np.unique(Y_train) # valores target deben de ser tipo caracter

dot_data = tree.export_graphviz(clf, out_file = None,
                                feature_names = X_train.columns,
                                class_names = np.unique(Y_train),
                                filled=True,  rounded=True,   proportion = True,
                         special_characters=True)

In [ ]:

graph = graphviz.Source(dot_data)

# #Para exportarlo a pdf graph.render("Arbol")
graph

In [ ]:
verificar(df,"out")

In [ ]:
df

In [ ]:
df['NUM_LLAMADAS_COMPETENCIA_OUT'].unique()

In [ ]:
#df['NUM_LLAMADAS_COMPETENCIA_OUT'].describe()
df['MIN_LLAMADAS_VODAFONE_OUT'].describe()

In [ ]:
conditions= [ (df['NUM_LLAMADAS_COMPETENCIA_OUT'] >= 0 ) | 
              (df['NUM_LLAMADAS_VODAFONE_OUT'] >= 0) |
              (df['NUM_LLAMADAS_ORANGE_OUT'] >= 0) |
              (df['NUM_LLAMADAS_R_CABLE_OUT'] >= 0) |
              (df['NUM_LLAMADAS_AMENA_OUT'] >= 0) |
              (df['NUM_LLAMADAS_DIGI_OUT'] >= 0) |
              (df['NUM_LLAMADAS_ONO_OUT'] >= 0) |
              (df['NUM_LLAMADAS_TELEFONICA_OUT'] >= 0) |
              (df['NUM_LLAMADAS_LOWI_OUT'] >= 0) |
              (df['NUM_LLAMADAS_JAZZTEL_OUT'] >= 0) |
              (df['NUM_LLAMADAS_SYM_OUT'] >= 0) 
            ]

# valores
values = [1]

              
# aplicaciones
df['SEG_OTROS_in'] = np.select(conditions, values)

In [ ]:
df[['SEG_OTROS_in']].sum()

In [ ]:
# NUM_LINE_TYPE_EXTRA_CURR > 0 
# NUM_LINE_TYPE_EXTRA_CURR == 0 & NUM_DISC_CURR == 0 & NUM_FRIENDS_BRAND_VOD >=1 
# NUM_LINE_TYPE_EXTRA_CURR == 0 & NUM_DISC_CURR == 0 & NUM_FRIENDS_BRAND_VOD >=1 


conditions = [ 
                    (df['NUM_LINE_TYPE_EXTR_POST_CURR'] >= 0 )  | 
                    (df['NUM_LINE_TYPE_EXTR_POST_CURR'] == 0 ) & (df['NUM_DISC_CURR'] == 0 )  & (df['NUM_FRIENDS_BRAND_VOD'] >= 1) |
                    (df['NUM_LINE_TYPE_EXTR_POST_CURR'] == 0 ) & (df['NUM_DISC_CURR'] == 0 )  & (df['NUM_FRIENDS_BRAND_VOD'] == 0)   & (df['NUM_LLAMADAS_JAZZTEL_IN'] > 0)
              ]


# valores
values = [1]
               
# aplicaciones
df['SEG_OTROS'] = np.select(conditions, values)

df[['SEG_OTROS']].sum()

In [ ]:
df.shape

In [ ]:
df_fil_dosCon= df[df['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad']== 0]
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Wrong_Tariff']== 0]
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Competitors']== 0]
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Heavy_Callers']== 0]
df_fil_dosCon.shape

In [ ]:
# df_fil_dosCon.groupby(['SEG_OTROS', 'fuga_real'])['fuga_real'].count()
df_fil_dosCon.groupby(['SEG_OTROS_in', 'fuga_real'])['fuga_real'].count()

In [ ]:
df

##### crear segmento comun

In [ ]:


conditions = [ 
                    (df['SEG_ISSUE_CALLS'] == 1 ) , 
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 1 )  ,
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 1)   ,
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 0)  & (df['SEG_Competitors'] == 1) ,
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 0)  & (df['SEG_Competitors'] == 0)  & (df['SEG_Heavy_Callers'] == 1),
                    (df['SEG_ISSUE_CALLS'] == 0 ) & (df['SEG_Calidad'] == 0 )  & (df['SEG_Wrong_Tariff'] == 0)  & (df['SEG_Competitors'] == 0)  & (df['SEG_Heavy_Callers'] == 0) & (df['SEG_OTROS'] == 1)        
    
              ]


# valores
values = ['SEG_Process_Issue','SEG_Calidad','SEG_Wrong_Tariff','SEG_Competitors','SEG_Heavy_Callers','SEG_OTROS_COMPETITORS' ]
               
# aplicaciones
df['Segmento_1P'] = np.select(conditions, values)

df[['Segmento_1P']].sum()   

df['Segmento_1P'].unique()

In [ ]:
df['Segmento_1P'].unique()

In [ ]:
#### subir a BQ

In [ ]:
conexion_bq.upload_table_bq_gcs(df,
                    # 'bi-data-science-pilots.DESARROLLO.00segment_cortes_v4',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
                    'bi-data-science-pilots.DESARROLLO.00segment_cortes_1P_AYD',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
                    bucket_gcs = 'nbamasmovil',
                    archivo_gcs = 'b.csv',
                    archivo_local_tmp = 'b.csv',
                    sobreescribo = True,
                    elimino_fichero_gcs = True)

In [ ]:
# *-*-*-*-*-*-*-*-*-*-*-* FIN PARTE 1 -*-*-*-*-*-*-*-*-*-*-*-*-*-*

In [ ]:
# #### SEG_ISSUE_CALLS
# #### ====================================
# (df['NUM_LLAMADAS_PROCESS'] > 0 ) |
# (df['IVR_NUM_RECA'] > 0 ) |
# (df['ISSUE_CALL'] > 0) |
# (df['CLAIMS'] > 0 ) 

# SEG_ISSUE_CALLS  fuga_real
# 0                0            158190
#                  1              7080
# 1                0             24296
#                  1              1493



# #### SEG_Calidad
# #### ====================================
# (df['NUM_MONTH_BAD_THR_QOE_MOBI_6M'] > 0) |
# (df['AVG_THR_QOE_MOBI'] <= 2.5) | 
# (df['NUM_LLAMADAS_NETWORK'] > 0) |
# (df['IS_DETERIORED_1M_AVG_THR_QOE_MOBI']>0 ) |
# (df['Mobile_Red_Incidences']>0 ) 

# SEG_Calidad  fuga_real
# 0            0            91421
#              1             3751
# 1            0            66769
#              1             3329



# #### SEG_Wrong_Tariff
# #### ====================================
# (df['Lineas_Con_Bono_Sin_Uso'] >0)| #nuevo 
# (df['FLAG_useless_line'] > 0 ) | #nuevo   
# # ----->  por Exceso
# (df['Lineas_Exceso'] > 0 )| 
# (df['lineas_GB_Exceso']>=1) |     
# # ----->  por OTRO
# (df['LINEAS_TARIFA_ERRONEA'] > 0 ) |
# #  (df['Lineas_Exceso'] == 0) & (df['FIN_DTO'] == 0)  &  (df['NUM_LLAMADAS_WRONG_TARIFF'] > 0 ) |                                
# (df['NUM_LLAMADAS_WRONG_TARIFF'] > 0 )  |    
# (df['NUM_DISC_NEXT_2_MONTHS_DEAC'] >=1)


# SEG_Wrong_Tariff  fuga_real
# 0                 0            58228
#                   1             2082
# 1                 0            33193
#                   1             1669

# #### SEG_Competitors
# #### ====================================
# (df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['cust_days_since_last_mob_port'] < 765 )   |                 
# (df['Amigos_competencia'] >= 2 )  & (df['cust_max_days_between_mob_port'] > 2.5 )  & (df['MIN_LLAMADAS_COMPETENCIA_OUT'] > 0 )  |
# (df['cust_n_yoigo_mob_port'] > 0   )  |
# (df['FRIENDS_IS_CHURN_GMM'] > 0   ) 

# SEG_Competitors  fuga_real
# 0                0            39878
#                  1             1264
# 1                0            18350
#                  1              818


# #### SEG_Competitors
# #### ====================================

#### Segemtos Otros 
#### ===================================================

In [ ]:
# Eliminaos variables que se han utilizados para otros segmentos
# Segmento  Issue problemas de proceso
l1=['BILLING_CLAIMS', 'CLAIMS', 'ISSUE_CALL', 'IVR_IS_AFTE',
 'IVR_IS_NIGH', 'IVR_NUM_ACD', 'IVR_NUM_AGEN',  
 'IVR_NUM_AGENT',  'IVR_NUM_CALLS', 'IVR_NUM_CALL_IN', 'IVR_NUM_CALL_TRAN',
 'IVR_NUM_MDTEL', 'IVR_NUM_MOND', 'IVR_NUM_RECA',
 'IVR_NUM_RECA_AGEN', 'IVR_NUM_SAME_ORIGIN', 'IVR_NUM_SECS_TALK_TIME',
 'IVR_NUM_SECS_TOTAL', 'IVR_NUM_SEGM', 'IVR_NUM_YDILO', 'Incidencias_High_Priority',
 'Jiras_Reclamacion_Movil', 'MAX_IVR_NUM_AGEN', 'MAX_IVR_NUM_SECS_TALK_TIME',
 'MAX_IVR_NUM_SECS_TOTAL', 'MAX_IVR_NUM_SEGM', 'MOSAIC_NUM_COMMS_CURR',
 'MOSAIC_NUM_COMM_DEPT_ATC_CURR', 'MOSAIC_NUM_COMM_DEPT_FAULT_CURR', 'MOSAIC_NUM_COMM_WITH_ISSUE_CURR',
 'MOSAIC_NUM_COMM_WP_CUSTOMER_CURR', 'MOSAIC_NUM_COMM_WP_GRP_NON_TECH_CURR',
 'MOSAIC_NUM_COMM_WP_GRP_TECH_CURR', 'MOSAIC_NUM_COMM_WP_MOB_FAULT_CURR', 'NUM_LLAMADAS_PROCESS',
 'TOTAL_BLUE_TICKETS',  'tiempo_hr_resolucion_incidencia', 'tiempo_hr_resolucion_reclamacion', 'total_jiras_cc']

In [ ]:
#Segmento Wrong Tarrif
l2=['LINEAS_TARIFA_ERRONEA', 'Lineas_Exceso', 'lineas_BONO_PAGADO',
'flag_BONO','LM2_LINEAS_BONO_PAGADO', 'LM3_LINEAS_BONO_PAGADO',
 'FLAG_useless_line', 'Lineas_Con_Bono_Sin_Uso', 'lineas_GB_Exceso',
'LM2_LINEAS_GB_EXCESO', 'ISSUE_CALL', 'lineas_1GB_Exceso',
 'lineas_gb_exceso_m1', 'EUR_BONO_PAGADO_C', 'Fact_BONO',
 'total_amount_wo_tax_data', 'MoONLY_am_wotax_data', 'LM3_LINEAS_GB_EXCESO',
 'lineas_gb_exceso_m2', 'kpi_tax','Fact_Total_tax', 'Fact_Total_Wotax',
 'total_jiras_cc', 'lineas_5GB_Exceso', 'FIN_DTO',
 'NUM_DISC_NEXT_2_MONTHS_DEAC', 'NUM_DISC_PURE_NEXT_2_MONTHS_DEAC',
 'NUM_SELL_TYPE_NEWS_ACTI', 'NUM_LINE_TYPE_MAIN_POST_ACTI', 'NUM_SELL_TYPE_TECH_MOBI_ACTI',
 'NUM_SELL_TYPE_ACTI', 'NUM_LLAMADAS_WRONG_TARIFF', 'ISSUE_CALL',
'IVR_NUM_HOUR_16', 'MAX_IVR_NUM_SEGM', 'MOSAIC_NUM_COMM_DEPT_FAULT_CURR',
 'total_jiras_cc', 'IVR_NUM_YDILO',  'NUM_SERV_AGILETV_PLUS_CURR', 'NUM_SERV_AGILETV_CURR',
'MIN_LLAMADAS_JAZZTEL_IN', 'MAX_IVR_NUM_SECS_TOTAL', 'MOSAIC_NUM_COMM_DEPT_ATC_CURR',
 'MOSAIC_NUM_COMMS_CURR']

In [ ]:
#Segmento Competitors
l3=['NUM_LLAMADAS_COMPETENCIA_OUT', 'MIN_LLAMADAS_COMPETENCIA_OUT', 'NUM_LLAMADAS_TELEFONICA_OUT', 'MIN_LLAMADAS_TELEFONICA_OUT',
 'NUM_LLAMADAS_JAZZTEL_OUT', 'NUM_LLAMADAS_R_CABLE_OUT', 'NUM_LLAMADAS_VODAFONE_OUT', 'MIN_LLAMADAS_VODAFONE_OUT',
 'MIN_LLAMADAS_JAZZTEL_OUT', 'MIN_LLAMADAS_R_CABLE_OUT', 'NUM_LLAMADAS_TELEFONICA_IN', 'NUM_LLAMADAS_ORANGE_OUT',
 'MIN_LLAMADAS_ORANGE_OUT', 'FRIENDS_IS_CHURN_YOI', 'FRIENDS_IS_CHURN_GMM', 'NUM_FRIENDS_BRAND_VOD',
 'cust_min_days_between_mob_port', 'cust_min_months_between_mob_port', 'cust_max_days_between_mob_port',
 'cust_max_months_between_mob_port', 'cust_n_mob_port', 'cust_n_mob_recent_port', 'cust_n_mm_group_mob_port',
 'NUM_FRIENDS_BRAND_UNKN', 'NUM_FRIENDS_BRAND_TME', 'NUM_FRIENDS_BRAND_VOD', 'NUM_FRIENDS_BRAND_OSP',
 'NUM_FRIENDS_BRAND_DIG', 'NUM_FRIENDS_BRAND_YOI', 'NUM_FRIENDS_BRAND_GMM', 'NUM_FRIENDS',
 'cust_days_since_last_mob_port', 'cust_n_yoigo_mob_port',
 'cust_n_mm_group_mob_port', 'tiempo_hr_resolucion_reclamacion', 'tiempo_hr_resolucion_incidencia']

In [ ]:
#Segmento calidad
l4=['NUM_THR_QOE_MOBI_1', 'NUM_MONTH_BAD_THR_QOE_MOBI_3M', 'NUM_MONTH_BAD_THR_QOE_MOBI_12M', 'NUM_MONTH_BAD_THR_QOE_MOBI_6M',
 'IS_SAME_3M_AVG_KPI_QOE_MOBI', 'PERC_GB_3G_ALLN_CURR', 'IS_SAME_1M_AVG_KPI_QOE_MOBI', 'PERC_GB_3G_NATR_CURR', 'low_signal',
 'NUM_GB_3G_RAAS_CURR', 'NUM_GB_3G_NATR_CURR', 'PERC_GB_NATR_ALLN_CURR', 'PERC_GB_NATR_CURR', 'NUM_GB_3G_CURR',
 'PERC_GB_3G_OWNN_CURR', 'PERC_SESS_NATR_ALLN_CURR', 'PERC_SESS_NATR_CURR', 'NUM_NETW_TMEN_CURR',
 'NUM_GB_2G_NATR_CURR', 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'NUM_GB_2G_CURR', 'IS_SAME_1M_AVG_THR_QOE_MOBI',
 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI', 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'NUM_THR_QOE_MOBI_5', 'AVG_DL_PEAK_THR_KBPS_MOBI',
 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'IS_SAME_3M_AVG_THR_QOE_MOBI', 'IS_IMPROVED_3M_AVG_KPI_QOE_MOBI', 'IS_IMPROVED_1M_AVG_KPI_QOE_MOBI', 'PERC_GB_4G_OWNN_CURR',
 'NUM_FRIENDS', 'NUM_FRIENDS_BRAND_UNKN', 'AVG_KPI_PERC_CSS_MOBI', 'PERC_GB_4G_NATR_CURR', 'PERC_GB_4G_ALLN_CURR',
 'IS_DETERIORED_1M_AVG_KPI_QOE_MOBI', 'IS_DETERIORED_1M_AVG_THR_QOE_MOBI', 'IS_DETERIORED_3M_AVG_KPI_QOE_MOBI', 'low_signal',
 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI',
 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI', 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'NUM_THR_QOE_MOBI_5', 'AVG_DL_PEAK_THR_KBPS_MOBI',
 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'IS_SAME_3M_AVG_THR_QOE_MOBI', 'IS_IMPROVED_3M_AVG_KPI_QOE_MOBI', 'IS_IMPROVED_1M_AVG_KPI_QOE_MOBI', 'PERC_GB_4G_OWNN_CURR',
 'NUM_FRIENDS', 'NUM_FRIENDS_BRAND_UNKN', 'AVG_KPI_PERC_CSS_MOBI','PERC_GB_4G_NATR_CURR', 'PERC_GB_4G_ALLN_CURR', 'IS_DETERIORED_1M_AVG_KPI_QOE_MOBI',
 'IS_DETERIORED_1M_AVG_THR_QOE_MOBI', 'IS_DETERIORED_3M_AVG_KPI_QOE_MOBI', 'low_signal', 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI',
 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI', 'AVG_THR_QOE_MOBI', 'AVG_KPI_QOE_MOBI',
 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'NUM_THR_QOE_MOBI_5', 'AVG_DL_PEAK_THR_KBPS_MOBI', 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'IS_SAME_3M_AVG_THR_QOE_MOBI',
 'IS_IMPROVED_3M_AVG_KPI_QOE_MOBI', 'IS_IMPROVED_1M_AVG_KPI_QOE_MOBI', 'PERC_GB_4G_OWNN_CURR', 'NUM_FRIENDS', 'NUM_FRIENDS_BRAND_UNKN',
 'AVG_KPI_PERC_CSS_MOBI', 'PERC_GB_4G_NATR_CURR', 'PERC_GB_4G_ALLN_CURR', 'IS_DETERIORED_1M_AVG_KPI_QOE_MOBI', 'IS_DETERIORED_1M_AVG_THR_QOE_MOBI', 'IS_DETERIORED_3M_AVG_KPI_QOE_MOBI',
 'low_signal', 'NUM_LINE_KPI_QOE_MOBI', 'NUM_LINE_THR_QOE_MOBI', 'IS_SAME_1M_AVG_THR_QOE_MOBI', 'AVG_THR_QOE_MOBI',
 'AVG_KPI_QOE_MOBI', 'PROBLEMAS_TECNICOS', 'total_jiras_cc']

In [ ]:
l1.extend(l2)
l1.extend(l3)
l1.extend(l4)

In [ ]:
df_otros.drop(l1, axis = 'columns', inplace=True)

In [ ]:
df_otros

In [ ]:
import AYD
cadena=AYD.DS.DSC_Factor(df_otros)
cadena_constantes = cadena[cadena.unique==1]           
eliminar_constantes=list(cadena_constantes['Variables'])

# Se añade a la lista variables de consentimiento
# ===================================================
eliminar_constantes.extend(['CONSENTSTATUSDETAIL','CONSENTSTATUSNAME','CONSENT_STATUS_DS','CONSENT_STATUS_DETAIL'] ) # variables gdpr 
eliminar_constantes.extend(['CUST_PREP_SEGMENT','MAIN_BRAND'] ) # variables desconocida
eliminar_constantes.extend(['CRM_WORK_TYPE'] ) # WORK TYPE, tenemos que recodificar bien
eliminar_constantes

In [ ]:
cadena=AYD.DS.DSC_Factor(df_otros)

# Se identifican variables constantes
# ===================================================
cadena_constantes = cadena[cadena.unique==1]           
eliminar_constantes=list(cadena_constantes['Variables'])

# Se añade a la lista variables de consentimiento
# ===================================================
# eliminar_constantes.extend(['CONSENTSTATUSDETAIL','CONSENTSTATUSNAME','CONSENT_STATUS_DS','CONSENT_STATUS_DETAIL'] ) # variables gdpr 
# eliminar_constantes.extend(['CUST_PREP_SEGMENT','MAIN_BRAND'] ) # variables desconocida
eliminar_constantes.extend(['CRM_WORK_TYPE'] ) # WORK TYPE, tenemos que recodificar bien

# Se eliminan las varibales seleccionadas
# ========================================
df_otros.drop(eliminar_constantes, axis = 'columns',inplace=True) 

# Exclur fechas
# ========================================
fechas=list(cadena[cadena['Variables'].str.contains("DT")]['Variables']) 
fechas.extend(['CUSTOMER_ID'])

df_otros.drop(['CRM_BIRTH_DT',
 'LINE_TYPE_MAIN_PREP_ACT_LAST_DT', 'LINE_TYPE_MAIN_PREP_DEA_LAST_DT',
 'LINE_TYPE_FIXE_POST_ACT_LAST_DT', 'LINE_TYPE_MAIN_POST_ACT_LAST_DT',
 'LINE_TYPE_EXTR_POST_ACT_LAST_DT', 'LINE_TYPE_ADDI_POST_ACT_LAST_DT',
 'LINE_TYPE_FIXE_POST_DEA_LAST_DT', 'LINE_TYPE_MAIN_POST_DEA_LAST_DT',
 'LINE_TYPE_EXTR_POST_DEA_LAST_DT', 'LINE_TYPE_ADDI_POST_DEA_LAST_DT',
 'CUSTOMER_ID'], axis = 'columns',inplace=True) 

numericas=AYD.DS.DSC(df_otros)


#eliminar todas la variables con la palabra busi y soho
eliminar=list(numericas[numericas['Variables'].str.contains("BUSI|SOHO|FIX|GDPR|FTTH|ADSL|2P|FMC|PRE|FECHA|DATE" ,case=False)]['Variables']) 
eliminar.extend(['EOP','GDPR_NEVER_CALL','MONTH','Propension','YEAR','Percentil','VERSION','Decil'])  # variables gdpr 

df_otros.drop(eliminar, axis = 'columns', inplace=True)

df_otros

In [ ]:
def verificar(df,var):
    variables_TOTAL=pd.DataFrame(list(df.columns.values)) 
    variables_TOTAL[['Variables']]=variables_TOTAL[[0]]
    validar=list(variables_TOTAL[variables_TOTAL['Variables'].str.contains(var,case=False)]['Variables']) 
    return validar

# verificar(df_otros,"num_chan_tari")

verificar(df_otros,"upse")

In [ ]:
# calcular la diferencia entre 



#verificar(df_otros,'NUM_SELL_TYPE_UPSE_TOTA_ant_3mes')
verificar(df_otros,'NUM_SELL_TYPE_UPSE_TOTA')

In [ ]:

conditions = [ 
               (df_otros['NUM_SELL_TYPE_UPSE_TOTA'] ) > (df_otros['NUM_SELL_TYPE_UPSE_TOTA_ant_3mes'] > 0) 
             
                ]

# valores
values = [1]
               
# aplicaciones
df_otros['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'] = np.select(conditions, values)
df_otros

In [ ]:
conditions = [ 
               (df['NUM_SELL_TYPE_UPSE_TOTA'] ) > (df['NUM_SELL_TYPE_UPSE_TOTA_ant_3mes'] > 0) 
             
                ]

# valores
values = [1]
               
# aplicaciones
df['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'] = np.select(conditions, values)
df

In [ ]:
print(df_otros['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'].unique() )
print(df_otros['NUM_SELL_TYPE_UPSE_TOTA'].unique() )
print(df_otros['NUM_SELL_TYPE_UPSE_TOTA_ant_3mes'].unique() )

#### Correlacion de variables restantes con respecto a fuga

In [ ]:
DF_muestra=df_otros.head(10000)
DF_muestra

In [ ]:
corr = DF_muestra.corr()
cor_var= corr[['fuga_real']].sort_values(by = 'fuga_real',ascending = False)
cor_var

In [ ]:
# desde mirar la correlacion de las variables restantes con respreco a FUGA

In [ ]:
#Identificamos impago como segmento

In [ ]:
cor_var= corr[['IS_CUST_UNPAID_LAST_3M_MONTH']].sort_values(by = 'IS_CUST_UNPAID_LAST_3M_MONTH',ascending = False)
SEG_PROCESS_ISSUE= cor_var[cor_var['IS_CUST_UNPAID_LAST_3M_MONTH']>=0.14]
SEG_PROCESS_ISSUE

In [ ]:
cor_var= corr[['PERC_UNPAID_LAST_3M_MONTH']].sort_values(by = 'PERC_UNPAID_LAST_3M_MONTH',ascending = False)
SEG_PROCESS_ISSUE= cor_var[cor_var['PERC_UNPAID_LAST_3M_MONTH']>=0.1]
SEG_PROCESS_ISSUE

In [ ]:
# cor_var= corr[['NUM_LINE_TYPE_EXTR_CURR']].sort_values(by = 'NUM_LINE_TYPE_EXTR_CURR',ascending = False)
# SEG_PROCESS_ISSUE= cor_var[cor_var['NUM_LINE_TYPE_EXTR_CURR']>=0.1]
# SEG_PROCESS_ISSUE


cor_var= corr[['NUM_LINES_CURR']].sort_values(by = 'NUM_LINES_CURR',ascending = False)
SEG_PROCESS_ISSUE= cor_var[cor_var['NUM_LINES_CURR']>=0.2]
SEG_PROCESS_ISSUE

In [ ]:


X=df[
[#'NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI',
     # 'NUM_CUST_BUND_MO_TOTA',
'NUM_SELL_TYPE_UPSE_TOTA',
'NUM_LINE_TYPE_ADDI_TOTA',
# 'NUM_LINES_TOTA',
'NUM_LINE_TYPE_EXTR_CURR',

'NUM_LINE_TYPE_EXTR_CURR',
'NUM_LINE_TYPE_EXTR_POST_CURR',
# 'MoBrand_calls',
#'NUM_TECH_MOBI_POST_CURR',
'NUM_SERV_POST_CURR',
'NUM_TECH_SPEE_UNKN_POST_CURR',
'NUM_SEGM_RESI_POST_CURR',
'NUM_TECH_SPEE_MOBI_POST_CURR',
'NUM_LINES_POST_CURR',
'MoBrand_min_calls',
'MoBrand_am_wotax_sms',
'MoBrand_am_wotax_calls',
# 'MAX_NUM_FACTURA_IMPAGADA',
'NUM_LINE_TYPE_EXTR_POST_ACTI',
'NUM_LINE_TYPE_EXTR_ACTI',
#'PERC_UNPAID_LAST_3M_MONTH',
# 'NUM_TECH_SPEE_MOBI_CURR',
# 'NUM_TECH_SPEE_UNKN_CURR',
# 'NUM_SEGM_RESI_CURR',
# 'NUM_TECH_MOBI_CURR',
# 'NUM_BRAND_YOIGO_CURR',
# 'NUM_SERV_CURR',
'NUM_LINES_CURR',
'IS_CUST_UNPAID_LAST_3M_MONTH'
]]


Y=df[['fuga_real']].astype(str)

In [ ]:
# Realizamos el train test split
# ======================================================
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

n = len(X)

from sklearn.tree import DecisionTreeClassifier

# Indice de gini para arbol de decisión
# ======================================================
clf_gini = DecisionTreeClassifier(criterion = "gini",min_samples_leaf=6000) 

#clf=clf_entropy.fit(X_train, Y_train)
clf=clf_gini.fit(X_train, Y_train)


import graphviz 
from sklearn import tree

from sklearn.tree import DecisionTreeClassifier
import numpy as np

dot_data = tree.export_graphviz(clf, out_file = None,
                                feature_names = X_train.columns,
                                class_names = np.unique(Y_train),
                                filled=True,  rounded=True,  
                                proportion = True,
                         special_characters=True)

In [ ]:
# IS_CUST_UNPAID_LAST_3M_MONTH>0 & NUM_SELL_TYPE_UPSE_TOTA>0
# IS_CUST_UNPAID_LAST_3M_MONTH<=0 & NUM_SELL_TYPE_UPSE_TOTA>=2

In [ ]:
graph = graphviz.Source(dot_data)  
# #Para exportarlo a pdf graph.render("Arbol")
graph

In [ ]:
# heavy callers numero de rellamadas al IVR y o que han espereado muchor

In [ ]:
# Opción filtrando por NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI > 0 Clientes que han sufrido un upsel en los ultomos meses
# Opción filtrando por NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI == 0  Son clientes que NO tienen un nuevo upsel en los ultimos meses.

# Idea comparar la tasa de fuga en ambos sesgmentos.

In [ ]:
df.shape

In [ ]:
df_0 = df[df['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI']==0]
df_0

In [ ]:
df_1 = df[df['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI']> 0]
df_1

In [ ]:
df_1

In [ ]:
df_up= df_1[['EOP','BRAND_DS','CUSTOMER_ID','fuga_real','NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI','NUM_SELL_TYPE_UPSE_TOTA']]
df_up

In [ ]:
conexion_bq.upload_table_bq_gcs(df_up,
                    # 'bi-data-science-pilots.DESARROLLO.00segment_cortes_v4',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
                    'bi-data-science-pilots.DESARROLLO.UPGRADE_CHURN_IN_decil_1_2',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
                    bucket_gcs = 'nbamasmovil',
                    archivo_gcs = 'b.csv',
                    archivo_local_tmp = 'b.csv',
                    sobreescribo = True,
                    elimino_fichero_gcs = True)

In [ ]:
df_0.groupby(['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'])['fuga_real'].count()

In [ ]:
df_1.groupby(['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'])['fuga_real'].sum()

In [ ]:
df_1['fuga_real'].unique()

#### Comporbamos hipótesis

In [ ]:


X=df[
[
'NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI',    
'IS_CUST_UNPAID_LAST_3M_MONTH',
'NUM_LINES_CURR'
]]


Y=df[['fuga_real']].astype(str)

In [ ]:
# Realizamos el train test split
# ======================================================
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

n = len(X)

from sklearn.tree import DecisionTreeClassifier

# Indice de gini para arbol de decisión
# ======================================================
clf_gini = DecisionTreeClassifier(criterion = "gini",min_samples_leaf=6000) 

#clf=clf_entropy.fit(X_train, Y_train)
clf=clf_gini.fit(X_train, Y_train)


import graphviz 
from sklearn import tree

from sklearn.tree import DecisionTreeClassifier
import numpy as np

dot_data = tree.export_graphviz(clf, out_file = None,
                                feature_names = X_train.columns,
                                class_names = np.unique(Y_train),
                                filled=True,  rounded=True,  
                                proportion = True,
                         special_characters=True)

In [ ]:
# IS_CUST_UNPAID_LAST_3M_MONTH>0 & NUM_SELL_TYPE_UPSE_TOTA>0
# IS_CUST_UNPAID_LAST_3M_MONTH<=0 & NUM_SELL_TYPE_UPSE_TOTA>=2
# # ----
# #IS_CUST_UNPAID_LAST_3M_MONTH <= 0 & NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI > 0

In [ ]:
graph = graphviz.Source(dot_data)  
# #Para exportarlo a pdf graph.render("Arbol")
graph

In [ ]:

X=df[
[
 
 
    
'NUM_SELL_TYPE_UPSE_TOTA',
'NUM_LINE_TYPE_ADDI_TOTA',
'NUM_LINES_TOTA',
'NUM_LINE_TYPE_EXTR_CURR',

'NUM_LINE_TYPE_EXTR_CURR',
'NUM_LINE_TYPE_EXTR_POST_CURR',

    'NUM_SERV_POST_CURR',
'NUM_TECH_SPEE_UNKN_POST_CURR',
'NUM_SEGM_RESI_POST_CURR',
'NUM_TECH_SPEE_MOBI_POST_CURR',
'NUM_LINES_POST_CURR',
'MoBrand_min_calls',
'MoBrand_am_wotax_sms',
'MoBrand_am_wotax_calls',
# 'MAX_NUM_FACTURA_IMPAGADA',
'NUM_LINE_TYPE_EXTR_POST_ACTI',
'NUM_LINE_TYPE_EXTR_ACTI',
#'PERC_UNPAID_LAST_3M_MONTH',

'NUM_LINES_CURR',
 'IS_CUST_UNPAID_LAST_3M_MONTH'
]]


Y=df[['fuga_real']].astype(str)



# Realizamos el train test split
# ======================================================
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

n = len(X)

from sklearn.tree import DecisionTreeClassifier

# Indice de gini para arbol de decisión
# ======================================================
clf_gini = DecisionTreeClassifier(criterion = "gini",min_samples_leaf=6000) 

#clf=clf_entropy.fit(X_train, Y_train)
clf=clf_gini.fit(X_train, Y_train)


import graphviz 
from sklearn import tree

from sklearn.tree import DecisionTreeClassifier
import numpy as np

dot_data = tree.export_graphviz(clf, out_file = None,
                                feature_names = X_train.columns,
                                class_names = np.unique(Y_train),
                                filled=True,  rounded=True,  
                                proportion = True,
                         special_characters=True)

graph = graphviz.Source(dot_data)  
# #Para exportarlo a pdf graph.render("Arbol")
graph

In [ ]:
#IS_CUST_UNPAID_LAST_3M_MONTH<=0 & NUM_LINES_TOTA >=3

In [ ]:

conditions = [ 
    (df['IS_CUST_UNPAID_LAST_3M_MONTH'] > 0 )  & (df['NUM_SELL_TYPE_UPSE_TOTA'] > 0) |
    (df['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0  )  & (df['NUM_SELL_TYPE_UPSE_TOTA'] >=2) |  # ESTA CONCIDION SE PUEDE ELIMINAR  ANTES DE ELIMINAR TENEMOS QUE VER CUAL ES LA QUE ACIERTA MAS EN CURN
    (df['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0 )  & (df['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'] > 0) |   # ESTA CONCIDION SE PUEDE ELIMINAR  ANTES DE ELIMINAR TENEMOS QUE VER CUAL ES LA QUE ACIERTA MAS EN CURN
    (df['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0 )  & (df['NUM_LINES_TOTA'] >= 3 )
]
# valores
values = [1]
               
# aplicaciones
df['SEG_Upsell_Issue'] = np.select(conditions, values)
df

In [ ]:
df_fil_dosCon=df.copy()
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Wrong_Tariff'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Competitors'] == 0] 
df_fil_dosCon.groupby(['SEG_Upsell_Issue', 'fuga_real'])['fuga_real'].count()

In [ ]:
df_otros

In [ ]:
#desde VERIFICAR TOTA FUGA PENDIENTE VS VARIABLES DISPOBINLES

In [ ]:
df_otros.groupby(['fuga_real'])['fuga_real'].count()

In [ ]:

conditions = [ 
    (df_otros['IS_CUST_UNPAID_LAST_3M_MONTH'] > 0 )  & (df_otros['NUM_SELL_TYPE_UPSE_TOTA'] > 0) |
    (df_otros['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0  )  & (df_otros['NUM_SELL_TYPE_UPSE_TOTA'] >=2) |  # ESTA CONCIDION SE PUEDE ELIMINAR  ANTES DE ELIMINAR TENEMOS QUE VER CUAL ES LA QUE ACIERTA MAS EN CURN
    (df_otros['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0 )  & (df_otros['NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI'] > 0) |   # ESTA CONCIDION SE PUEDE ELIMINAR  ANTES DE ELIMINAR TENEMOS QUE VER CUAL ES LA QUE ACIERTA MAS EN CURN
    (df_otros['IS_CUST_UNPAID_LAST_3M_MONTH'] == 0 )  & (df_otros['NUM_LINES_TOTA'] >= 3 )
]
# valores
values = [1]
               
# aplicaciones
df_otros['SEG_Upsell_Issue'] = np.select(conditions, values)
df_otros

In [ ]:
LISTA=[
'NUM_SELL_TYPE_UPSE_TOTA_DELTA_TRI',
'NUM_CUST_BUND_MO_TOTA',
'NUM_SELL_TYPE_UPSE_TOTA',
'NUM_LINE_TYPE_ADDI_TOTA',
'NUM_LINES_TOTA',
'NUM_LINE_TYPE_EXTR_CURR',
'NUM_LINE_TYPE_EXTR_CURR',
'NUM_LINE_TYPE_EXTR_POST_CURR',
'MoBrand_calls',
'NUM_TECH_MOBI_POST_CURR',
'NUM_SERV_POST_CURR',
'NUM_TECH_SPEE_UNKN_POST_CURR',
'NUM_SEGM_RESI_POST_CURR',
'NUM_TECH_SPEE_MOBI_POST_CURR',
'NUM_LINES_POST_CURR',
'MoBrand_min_calls',
'MoBrand_am_wotax_sms',
'MoBrand_am_wotax_calls',
'MAX_NUM_FACTURA_IMPAGADA',
'NUM_LINE_TYPE_EXTR_POST_ACTI',
'NUM_LINE_TYPE_EXTR_ACTI',
'PERC_UNPAID_LAST_3M_MONTH',
'NUM_TECH_SPEE_MOBI_CURR',
'NUM_TECH_SPEE_UNKN_CURR',
'NUM_SEGM_RESI_CURR',
'NUM_TECH_MOBI_CURR',
'NUM_BRAND_YOIGO_CURR',
'NUM_SERV_CURR',
'NUM_LINES_CURR',
'IS_CUST_UNPAID_LAST_3M_MONTH',
'SUM_TOTAL_TAXES_UNPAID_LAST_3M_MONTH',
'SUM_TOTAL_NO_TAXES_UNPAID_LAST_3M_MONTH',
'SUM_TOTAL_TAXES_UNPAID_LAST_6M_MONTH',
'SUM_TOTAL_NO_TAXES_UNPAID_LAST_6M_MONTH'
      ] 

df_otros.drop(LISTA, axis = 'columns', inplace=True)
df_otros

In [ ]:
df_fil_dosCon=df_otros.copy()
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_ISSUE_CALLS'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Wrong_Tariff'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Calidad'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Competitors'] == 0] 
df_fil_dosCon= df_fil_dosCon[df_fil_dosCon['SEG_Upsell_Issue'] == 0]
df_fil_dosCon.groupby(['fuga_real'])['fuga_real'].count()

In [ ]:
# ratio de fuga
# verificar el total de variables
# correlacion de fuga vs variables restantes... eliminar variables que supuestamente ya han entrado en otros segmentos

In [ ]:
DF_muestra=df_fil_dosCon.head(10000)

corr = DF_muestra.corr()
cor_var= corr[['fuga_real']].sort_values(by = 'fuga_real',ascending = False)
cor_var

In [ ]:
type(cor_var)

In [ ]:
# conexion_bq.upload_table_bq_gcs(df,
#                     # 'bi-data-science-pilots.DESARROLLO.00segment_cortes_v4',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
#                     'bi-data-science-pilots.DESARROLLO.00segment_cortes_v7',  # bi-data-science-pilots.DESARROLLO.00segment_cortes_v3
#                     bucket_gcs = 'nbamasmovil',
#                     archivo_gcs = 'b.csv',
#                     archivo_local_tmp = 'b.csv',
#                     sobreescribo = True,
#                     elimino_fichero_gcs = True)

In [ ]:
#conexion_bq.check_if_table_exists('bi-data-science-pilots.DESARROLLO.00segment_cortes_v4')
# conexion_bq.check_if_table_exists('bi-data-science-pilots.DESARROLLO.00segment_cortes_v5')

In [ ]:
#### big query creacion de priorizacion

In [ ]:
create table `bi-data-science-pilots.DESARROLLO.00segment_cortes5` 
as select a.*,

CASE
WHEN SEG_ISSUE_CALLS >0 THEN '01_PROCESS ISSUE' 
WHEN SEG_Calidad >0 THEN '02_TECHNICAL PROBLEMS'
WHEN SEG_Wrong_Tariff >0 THEN '03_WRONG TARIFF' 
WHEN SEG_Competitors >0 THEN '04_COMPETITORS' 
WHEN SEG_Moroso >0 THEN '05_moroso' 
ELSE '07_SIN ASIGNAR'
end
as segmento2

FROM `bi-data-science-pilots.DESARROLLO.00segment_cortes_v4` a

In [ ]:
-- #create table `bi-data-science-pilots.DESARROLLO.00segment_cortes5_1` as 
-- select a.*,

-- CASE
-- WHEN SEG_ISSUE_CALLS >0 THEN '01_PROCESS ISSUE' 
-- WHEN SEG_Calidad >0 THEN '02_TECHNICAL PROBLEMS'
-- WHEN SEG_Wrong_Tariff >0 THEN '03_WRONG TARIFF' 
-- WHEN SEG_Competitors >0 THEN '04_COMPETITORS' 
-- WHEN SEG_Moroso >0 THEN '05_moroso' 
-- ELSE '07_SIN ASIGNAR'
-- end
-- as segmento2

-- FROM `bi-data-science-pilots.DESARROLLO.00segment_cortes_v4` a